<div id="main_myShop">
    <div id="header_myShop">
        <div class="header_myShop-navbar">
            <a href="/">
                <img src="https://anhdep.tv/attachments/ac1afeb3909de0315b221710d037f01c-jpeg.5868/" alt="">
                <h4>Trang chủ</h4>
            </a>
            <div class="header_myShop-navbar-account">
                {{#if user_avatar_base64}}
                    <img class="user_avatar" src="data:image/jpeg;base64,{{user_avatar_base64}}" alt="">
                {{else}}
                    <img class="user_avatar" src="{{userAvatar}}" alt="">
                {{/if}}
                <h5>{{userName}}</h5>
                <div class="header_myShop-navbar-account-option">
                    <a href="#">Hồ sơ shop</a>
                    <a href="/logout">Đăng xuất</a>
                </div>
            </div>
        </div>
    </div>
    <div id="content_myShop">
        <div class="content_myShop-side_bar">
            <ul class="content_myShop-side_bar-delivery content_myShop-side_bar-item">
                <h4>Vận chuyển</h4>
                <li class="content_myShop-side_bar-delivery-item">Cài đặt vận chuyển</li>
            </ul>
            <ul class="content_myShop-side_bar-manage_order content_myShop-side_bar-item">
                <h4>Quản lý đơn hàng</h4>
                <li class="content_myShop-side_bar-manage_order-item">Tất cả</li>
                <li class="content_myShop-side_bar-manage_order-item">Đơn thành công</li>
                <li class="content_myShop-side_bar-manage_order-item">Đơn hủy</li>
                <li class="content_myShop-side_bar-manage_order-item">Đơn lỗi/hoàn trả</li>
            </ul>
            <ul class="content_myShop-side_bar-manage_product content_myShop-side_bar-item">
                <h4>Quản lý sản phẩm</h4>
                <li class="content_myShop-side_bar-manage_product-item">Tất cả sản phẩm</li>
                <li class="content_myShop-side_bar-manage_product-item active">Thêm sản phẩm</li>
                <li class="content_myShop-side_bar-manage_product-item">Sản phẩm vi phạm</li>
                <li class="content_myShop-side_bar-manage_product-item">Sản phẩm chưa bán hết</li>
            </ul>
            <ul class="content_myShop-side_bar-manage_shop content_myShop-side_bar-item">
                <h4>Quản lý shop</h4>
                <li class="content_myShop-side_bar-manage_shop-item">Hồ sơ shop</li>
                <li class="content_myShop-side_bar-manage_shop-item">Đánh giá shop</li>
                <li class="content_myShop-side_bar-manage_shop-item">Gỡ bỏ cửa hàng</li>
            </ul>
        </div>
        <div class="content_myShop-body">
            <div class="content_myShop-body-wrapper">
                <!-- ================================ view tất cả sản phẩm   ============================================ -->
                    <div class="content_myShop-body-item content_myShop-body-all_product hidden">
                        <div class="content_myShop-body-item-title">
                            <h3>Tất cả sản phẩm </h3>
                        </div>
                        <div class="separate_line_vertical"></div>
                        <div class="content_myShop-body-all_product-main">
                            <div class="content_myShop-body-all_product-main-control">
                                <span class="content_myShop-body-all_product-main-name">Sản Phẩm</span>
                                <span class="content_myShop-body-all_product-main-amount">Số Lượng</span>
                                <span class="content_myShop-body-all_product-main-sold">Đã Bán</span>
                                <span class="content_myShop-body-all_product-main-action">Thao Tác</span>
                            </div>
                            <div class="content_myShop-body-all_product-main-wrapper">
                                {{#each product}}
                                <div class="content_myShop-body-all_product-main-item" data-id="{{this._id}}">
                                    <div class="content_myShop-body-all_product-main-item-wrapper">
                                        <div class="content_myShop-body-all_product-main-name">
                                            <img src="{{this.avatar}}" alt="">
                                            <span>{{this.introduction}}</span>
                                        </div>
                                        <div class="content_myShop-body-all_product-main-amount">{{this.totalAmount}}</div>
                                        <div class="content_myShop-body-all_product-main-sold">{{this.sold}}</div>
                                        <div class="content_myShop-body-all_product-main-action">
                                            <span class="content_myShop-body-all_product-main-action-edit">
                                                <a href="/shop/modify-product-page/{{this._id}}">Sửa</a>
                                            </span>
                                            <span class="content_myShop-body-all_product-main-action-delete">Xóa</span>
                                        </div>
                                    </div>
                                </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                <div class="content_myShop-body-item content_myShop-body-product">
                    <div class="content_myShop-body-item-title">
                        <h3>Thêm sản phẩm mới</h3>
                    </div>
                    <div class="separate_line_vertical"></div>
                    <div class="content_myShop-body-product-main">
                        <div class="content_myShop-body-product-main-item content_myShop-body-product-main-name">
                            <label for="">Giới thiệu sản phẩm</label>
                            <input name="product_introduction" type="text" maxlength="100" autocomplete="off">
                        </div>
                        <div class="content_myShop-body-product-main-item content_myShop-body-product-main-Category">
                            <label for="">Chọn loại sản phẩm</label>
                            <ul class="content_myShop-body-product-main-Category-list">
                                <li>Máy ảnh & máy quay phim</li>
                                <li>Đồng hồ</li>
                                <li>Giày dép nam</li>
                                <li>Thiết bị điện gia dụng</li>
                                <li>Thể thao & du lịch</li>
                                <li>Ô tô & xe máy & xe đạp</li>
                                <li>Balo & túi ví nam</li>
                                <li>Đồ chơi</li>
                                <li>Chăm sóc thú cưng</li>
                                <li>Thời trang nam</li>
                                <li>Điện thoại & phụ kiện</li>
                                <li>Thiết bị điện tử</li>
                                <li>Máy tính & laptop</li>
                                <li>Thời trang nữ</li>
                                <li>Mẹ & bé</li>
                                <li>Nhà cửa & đời sống</li>
                                <li>Sắc đẹp</li>
                                <li>Sức khỏe</li>
                                <li>Giày dép nữ</li>
                                <li>Túi ví nữ</li>
                                <li>Phụ kiện & trang sức nữ</li>
                                <li>Bách hóa online</li>
                                <li>Nhà sách online</li>
                                <li>Thời trang trẻ em</li>
                                <li>Giặt giũ & chăm sóc nhà cửa</li>
                                <li>Voucher & dịch vụ</li>
                            </ul>
                            <div class="content_myShop-body-product-main-Category-imgs">
                                <h4>Thêm ảnh đại diện sản phẩm</h4>
                                <div class="main-Category-imgs-wrapper2">
                                    <input class="product_avatar" type="text" placeholder="URL hình ảnh">
                                </div>
                                
                                <h4 class="product_imgs">thêm ảnh sản phẩm</h4>
                                {{!-- ===================== them anh bang url ===================================== --}}
                                <div class="content_myShop-body-product-main-Category-some_imgs">
                                    <div class="main-Category-imgs-wrapper2">
                                        <input class="product_img_item" placeholder="URL hình ảnh" type="text">
                                    </div>
                                    <div class="main-Category-imgs-wrapper2">
                                        <input class="product_img_item" placeholder="URL hình ảnh" type="text">
                                    </div>
                                    <div class="main-Category-imgs-wrapper2">
                                        <input class="product_img_item" placeholder="URL hình ảnh" type="text">
                                    </div>
                                    <div class="main-Category-imgs-wrapper2">
                                        <input class="product_img_item" placeholder="URL hình ảnh" type="text">
                                    </div>
                                    <div class="main-Category-imgs-wrapper2">
                                        <input class="product_img_item" placeholder="URL hình ảnh" type="text">
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{!-- <div
                            class="content_myShop-body-product-main-introduction content_myShop-body-product-main-item">
                            <label for="">giới thiệu sản phẩm</label>
                            <input type="text" , maxlength="200" name="product_introduction">
                        </div> --}}
                        <div class="content_myShop-body-product-main-description content_myShop-body-product-main-item">
                            <label for="">Mô tả sản phẩm</label>
                            <textarea name="product_description" rows="10" maxlength="1000"></textarea>
                        </div>
                        <div class="content_myShop-body-product-main-detail content_myShop-body-product-main-item">
                            <label for="">Thông tin sản phẩm</label>
                            <div class="content_myShop-body-product-main-detail-wrapper">
                                <div class="content_myShop-body-product-main-detail-wrapper-item">
                                    <label for="">Số lượng:</label>
                                    <input
                                        class="product_detail_input-item product_detail_input-number product_detail_input-amount"
                                        maxlength="5" name="product_detail_input-item" type="number" min="1" max="10000">
                                </div>
                                <div class="content_myShop-body-product-main-detail-wrapper-item">
                                    <label for="">Giá:</label>
                                    <input
                                        class="product_detail_input-item product_detail_input-number product_detail_input-price"
                                        maxlength="13" name="product_detail_input-item" type="number" min="1000" max="100000000">
                                    <span class="currency">VND</span>
                                </div>
                                <div class="content_myShop-body-product-main-detail-wrapper-item">
                                    <label for="">Giảm giá:</label>
                                    <input
                                        class="product_detail_input-item product_detail_input-number product_detail_input-discount"
                                        maxlength="13" name="product_detail_input-item" type="number" min="1" max="10000000">
                                    <div class="kind_discount">
                                        <span>%</span>
                                        <div class="separate_line"></div>
                                        <span>VND</span>
                                    </div>
                                </div>
                                <div class="content_myShop-body-product-main-detail-wrapper-item">
                                    <label for="">Thương hiệu:</label>
                                    <input class="product_detail_input-item product_detail_input-brand" maxlength="50"
                                        name="product_detail_input-item" type="text">
                                    <i class="fa-solid fa-circle-xmark"></i>
                                </div>
                                <div class="content_myShop-body-product-main-detail-wrapper-item">
                                    <label for="">Xuất xứ:</label>
                                    <input class="product_detail_input-item product_detail_input-made_in" maxlength="50"
                                        name="product_detail_input-item" type="text">
                                    <i class="fa-solid fa-circle-xmark"></i>
                                </div>
                                <div class="content_myShop-body-product-main-detail-wrapper-item">
                                    <label for="">Vận chuyển từ:</label>
                                    <input class="product_detail_input-item product_detail_input-delivery_from" maxlength="50"
                                        name="product_detail_input-item" type="text">
                                    <i class="fa-solid fa-circle-xmark"></i>
                                </div>
                            </div>
                        </div>
                        <div class="content_myShop-body-store_btn">
                            <span>Lưu</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer_myShop">

    </div>
</div>

<div class="modal store_successfully hidden">
    <div class="modal-overlay"></div>
    <div class="modal-body modal-content">
        <div class="modal-body-updated_profile">
            <img style="width: 40px; height: 40px;" src="https://cachbothuocla.vn/wp-content/uploads/2019/03/tick-xanh.png"
                alt="">
            <h4>Cập nhật thành công</h4>
        </div>
    </div>
</div>
<div class="modal comfirm_delete_product hidden">
        <div class="modal-overlay"></div>
        <div class="modal-body modal-content_delete_product">
            <p>Bạn chắc chắn muốn xóa sản phẩm này?</p>
            <div class="modal-body-confirm_delete_btn">
                <button class="modal-body-confirm_delete_btn-yes">Có</button>
                <button class="modal-body-confirm_delete_btn-no">Không</button>
            </div>
        </div>
    </div>

<!-- =========================================================== Chọn loại sản phẩm ======================================== -->
<script>
    const $ = document.querySelector.bind(document);
    const $$ = document.querySelectorAll.bind(document);

    let productCategory = $$('.content_myShop-body-product-main-Category-list li');
    productCategory.forEach((element, index) => {
        element.onclick = function () {
            removeAllSelected(index);
            element.classList.add('select_product_category');
        }
    });
    function removeAllSelected(k) {
        productCategory.forEach((element, index) => {
            if (index != k) {
                element.classList.remove('select_product_category');
            }
        });
    }

    function getProductCategory(){
        let ans = '';
        productCategory.forEach((element, index) => {
            if(element.classList.contains('select_product_category')){
                ans = element.innerText;
            }
        });
        return ans;
    }

</script>

<!-- ======================================================= chọn ảnh sản phẩm ============================================= -->
<script>
    let productImgsInput = $$('.main-Category-imgs-wrapper input');
    let base64String = '';
    let listImg = [];


</script>

<!-- ===================================================== thông tin sản phẩm =============================================== -->
<script>
    let deleteIcons = $$('.content_myShop-body-product-main-detail-wrapper-item i');
    let productInfoInput = $$('.product_detail_input-item');
    let inputNumber = $$('.product_detail_input-number');
    let unit = $$('.kind_discount span');

    unit[0].onclick = function () {
        this.classList.add('select_unit');
        unit[1].classList.remove('select_unit');
    }
    unit[1].onclick = function () {
        this.classList.add('select_unit');
        unit[0].classList.remove('select_unit');
    }

    deleteIcons.forEach((element, index) => {
        element.onclick = function () {
            console.log(1);
            productInfoInput[index + 3].value = '';
        }
    })


    function checkCategory() {
        let dem = 0;
        productCategory.forEach((element, index) => {
            if (element.classList.contains('select_product_category')) {
                dem = 1;
            }
        })
        if (dem == 0) return false;
        return true;
    }
    function checkImgs() {
        let dem = 0;
        productImagesUrl.forEach((element, index) => {
            if (element.value.length > 5) {
                dem++;
            }
        })
        if($('.product_avatar').value.length == 0) return false;
        if (dem <= 2) return false;
        return true;
    }
    function checkIntroduce() {
        if ($('.content_myShop-body-product-main-name input').value.length == 0) return false;
        return true;
    }
    function checkDescription() {
        if ($('.content_myShop-body-product-main-item textarea').value.length == 0) return false;
        return true;
    }
    function checkProductInfo() {
        let check = true;
        $$('.product_detail_input-item').forEach((element, index) => {
            if (element.value.length == 0) check = false;
        })
        return check;
    }
    function checkUniDiscount() {
        let dem = 0;
        unit.forEach((element, index) => {
            if (element.classList.contains('select_unit')) dem++;
        })
        if (dem == 0) return false;
        return true;
    }
    
    function getUnitDiscount() {
        let ans = '';
         unit.forEach((element, index) => {
            if (element.classList.contains('select_unit')) ans = element.innerText;
        })
        return ans;
    }


</script>

{{!-- ================================================== ấn vào 1 mục ở side bar ========================================== --}}
<script>
    let sidebarProductItems = $$('.content_myShop-side_bar-manage_product-item');
    
    sidebarProductItems.forEach(function(element,index){
        element.onclick = function(){
            removeAllActive();
            element.classList.add('active');
            removeAllContent();
            if(index == 0){
                $('.content_myShop-body-all_product').classList.remove('hidden');
            }
            else if(index == 1){
                $('.content_myShop-body-product').classList.remove('hidden');
            }
        }
    })
    function removeAllActive(){
        sidebarProductItems.forEach(function(element,index){
            element.classList.remove('active');
        })
    }
    function removeAllContent(){
        $$('.content_myShop-body-item ').forEach(function(element,index){
            element.classList.add('hidden');
        })
    }
</script>

<!-- =================================================== khi ấn nút lưu ======================================================= -->
<script>
    let storeBtn = $('.content_myShop-body-store_btn span');
    let productImagesUrl = $$('.main-Category-imgs-wrapper2 input');
    
    // ------------------------------------------------ lấy dữ liệu để gửi về server ------------------------------------------
    let newProduct = '';

    function addNewProduct(url,data){
        var option = {
            method: "POST",
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        };
        fetch(url, option)
            .then(function (response) {
                return response.json();
            })
            .catch(() => {
                console.log('da xay ra loi them san pham');
            })
    }
    
    storeBtn.onclick = function () {
        if (!checkIntroduce()) alert('Chưa có giới thiệu sản phẩm!')
        else if (!checkCategory()) alert('Bạn chưa chọn loại sản phẩm!');
        else if(!checkImgs()) alert('Bạn chưa thêm đủ ảnh!');
        else if (!checkDescription()) alert('Vui lòng điền phần mô tả sản phẩm!');
        else if (!checkUniDiscount()) alert('Vui lòng chọn đơn vị giảm giá');
        else if (!checkProductInfo()) alert('Vui lòng điền đầy đủ thông tin sản phẩm');
        else {
            $$('.main-Category-imgs-wrapper2 input').forEach(function(element) {
                if(element.value.length > 0){
                    listImg.push(element.value);
                }
            })
            newProduct = {
                productCategory: getProductCategory(),
                imgs: listImg,
                introduction: $('.content_myShop-body-product-main-name input').value,
                description: $('.content_myShop-body-product-main-item textarea').value,
                totalAmount: $('.product_detail_input-amount').value,
                price: $('.product_detail_input-price').value,
                discount: {amount:$('.product_detail_input-discount').value,unit: getUnitDiscount()},
                madeIn: $('.product_detail_input-made_in').value,
                deliveryFrom: $('.product_detail_input-delivery_from').value,
                brand: $('.product_detail_input-brand').value
            }
            let promise = Promise.resolve();
            promise
                .then(() => {
                    {{!-- addNewProduct('/shop/add-product',newProduct); --}}
                    console.log(newProduct);
                })
                .then(() => {
                    $('.store_successfully').classList.remove('hidden');
                })
                .then(() => {
                    setTimeout(function (){
                        $('.store_successfully').classList.add('hidden');
                    },1300);
                })
                {{!-- .then(() => {
                    setTimeout(function (){
                        location.reload();
                    },1400);
                }) --}}
                .catch(() => {console.log('co loi')})
        }

    }

</script>

<!-- ========================================================== sửa, Xóa sản phẩm ============================================= -->
    <script>
        let deleteProductBtn = $$('.content_myShop-body-all_product-main-action-delete');
        let listProduct = $$('.content_myShop-body-all_product-main-item');
        let viewEditProduct = $$('.content_myShop-body-product-main');
        let productIndex = -1;
        let productId = -1;

        deleteProductBtn.forEach(function (element,index){
            element.onclick = function(){
                $('.comfirm_delete_product').classList.remove('hidden');
                productIndex = index;
            }
        })

        function deleteProduct(url,data){
            var option = {
                method: "DELETE",
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            };
            fetch(url, option)
                .then(function (response) {
                    return response.json();
                })
                .catch(() => {
                    console.log('da xay ra loi xoa san pham');
                })
        }

        $('.modal-body-confirm_delete_btn-yes').onclick = function(){
            listProduct[productIndex].remove();
            $('.comfirm_delete_product').classList.add('hidden');
            productId = $$('.content_myShop-body-all_product-main-item')[productIndex].getAttribute('data-id');
            let data = {
                productId: productId
            }
            deleteProduct('/shop/delete-product', data);
        }
        $('.modal-body-confirm_delete_btn-no').onclick = function(){
            $('.comfirm_delete_product').classList.add('hidden');
        }


    </script>

<!-- link fontawesome icons -->
<script src="https://kit.fontawesome.com/f53f2021c2.js" crossorigin="anonymous"></script>