<div class="main-account">
    <div id="header">
        <div class="navbar">
            <div class="link_user">
                <a href="#" class="my_shop">Shop của tôi</a>
                <a href="#" class="create_shop">Mở shop trên web</a>
                <div class="download_app_on_mobile">
                    <p style="padding:0; margin:0">Tải ứng dụng</p>
                    <div class="qrcode_app">
                        <img style="width:180px; height:180px;"
                            src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg//assets/d91264e165ed6facc6178994d5afae79.png"
                            alt="">
                        <div class="some_app">
                            <img style="width:70px; height:16px"
                                src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg//assets/39f189e19764dab688d3850742f13718.png"
                                alt="">
                            <img style="width:70px; height:16px"
                                src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg//assets/f4f5426ce757aea491dce94201560583.png"
                                alt="">
                            <img style="width:70px; height:16px"
                                src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg//assets/1ae215920a31f2fc75b00d4ee9ae8551.png"
                                alt="">
                        </div>
                    </div>
                </div>
                <div class="link_to_social">
                    Kết nối
                    <a href="#">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
            </div>
            <div class="header-section">
                <div class="header-notification header-section-item">
                    <p>
                        <i class="far fa-bell"></i>
                        Thông báo
                    </p>
                    <div class="header-notification-show">
                        <img src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg//assets/99e561e3944805a023e87a81d4869600.png"
                            alt="">
                        <h3>Đăng nhập để xem thông báo</h3>
                        <div class="header-notification-show-btn_login">
                            <a href="#">Đăng ký</a>
                            <a href="#">Đăng nhập</a>
                        </div>
                    </div>
                </div>
                <div class="header-support header-section-item">
                    <i class="far fa-question-circle"></i>
                    Hỗ trợ
                </div>
                <div class="header-account header-section-item">
                    <div class="myAccount">
                        {{#if avatar_base64}}
                        <img class="avatar avatar-item" src= "data:image/jpeg;base64,{{avatar_base64}}" alt="avatar">
                            {{else}}
                            <img class="avatar avatar-item" src="{{avatar}}" alt="avatar">
                        {{/if}}
                        <a href="#" class="username">Thắng Hoàng</a>
                        <div class="myAccount-show">
                            <a href="/">Trang chủ</a>
                            <a href="/logout">Đăng xuất</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="container header-search">
            <a href="/">
                <img style="width: 160px; height: 50px;" class="logo_web"
                    src="https://anhdep.tv/attachments/ac1afeb3909de0315b221710d037f01c-jpeg.5868/" alt="">
            </a>
            <div class="header-search_bar">
                <input type="text" placeholder="Search ..." maxlength="50">
                <a href="#"><i class="fas fa-search"></i></a>
            </div>
            <div class="header-cart">
                <a href="#"><i class="fas fa-shopping-cart"></i></a>
                <ul style="margin: 0;padding: 0;" class="header-cart-list_product">
                    <img src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/9bdd8040b334d31946f49e36beaf32db.png"
                        alt="">
                    <h3>Chưa có sản phẩm nào</h3>
                </ul>
            </div>
        </div>
    </div>
    <div id="content-account">
        <div class="container">
            <div class="navbar_control">
                <div class="navbar_control-user">
                    {{#if avatar_base64}}
                    <img class="navbar_control-user-img avatar-item" src="data:image/jpeg;base64,{{avatar_base64}}" alt="">
                        {{else}}
                        <img class="navbar_control-user-img avatar-item" src="{{avatar}}" alt="">
                    {{/if}}
                    <p>{{username}}</p>
                </div>
                <div class="navbar_control-profile navbar_control-item">
                    <div class="navbar_control-profile-my_account active-item">
                        <div class="navbar_control-profile-my_account-wrap">
                            <i class="far fa-user"></i>
                            <p>Tài khoản của tôi</p>
                        </div>
                        <div class="navbar_control-profile-my_account-wrapper">
                            <p class="profile_item active">Hồ sơ</p>
                            <p class="profile_item">Địa chỉ</p>
                        </div>
                    </div>
                </div>
                <div class="navbar_control-purchase_order navbar_control-item active-item">
                    <i class="fas fa-file-invoice"></i>
                    <p>Đơn mua</p>
                </div>
                <div class="navbar_control-notification navbar_control-item active-item">
                    <i class="far fa-bell"></i>
                    <p>Thông báo</p>
                </div>
                <div class="navbar_control-voucher navbar_control-item active-item">
                    <i class="fas fa-tags"></i>
                    <p>Kho Voucher</p>
                </div>
            </div>

            <div class="info_control hidden">
                <div class="info_control-item">
                    <div class="info_control-item-wrap">
                        <h3 class="info_control-item-wrap-title">Hồ sơ của tôi</h3>
                        {{#if user}}
                        <form method="post" action="/user/updateProfile" class="info_control-item-content" enctype="multipart/form-data">
                            <div class="info_control-item-content-my_info">
                                <div class="my_info-name_account my_info-item">
                                    <label for="name-account">Tên đăng nhập</label>
                                    <p id="name-account">{{username}}</p>
                                </div>
                                <div class="my_info-name my_info-item">
                                    <label for="name">Tên</label>
                                    <div class="wraper-input wraper-input-name">
                                        <input name="username" type="text" value="{{username}}" size="20" required>
                                    </div>
                                </div>
                                <div class="my_info-item-warning name_warning">
                                    <span>Vui lòng nhập tên (Tối thiểu 3 ký tự)</span>
                                </div>
                                <div class="my_info-email my_info-item">
                                    <label for="email">Email</label>
                                    <div class="wraper-input wraper-input-email">
                                        <input type="email" placeholder="Nhập email" size="30" value="{{email}}">
                                    </div>
                                </div>
                                <div class="my_info-number_phone my_info-item">
                                    <label for="number-phone">Số điện thoại</label>
                                    <p name="number_phone" id="number-phone">{{phoneNumber}}</p>
                                    <span class="change-number">Thay đổi</span>
                                    <input class="my_info-number_phone-input" maxlength="11" autofocus type="text" name="number-phone" value="">
                                    <span class="cancel">Hủy bỏ</span>
                                </div>
                                <div class="my_info-gender my_info-item">
                                    <label for="gender">Giới tính</label>
                                    <select name="gender" id="gender" data="{{gender}}" class="gender">
                                        <option value="Nam">Nam</option>
                                        <option value="Nữ">Nữ</option>
                                        <option value="khác">Khác</option>
                                    </select>
                                </div>
                                <div class="my_info-date_of_birth my_info-item">
                                    <label for="date-of-birth">Ngày sinh</label>
                                    <div class="my_info-date_of_birth-item">
                                        <select data="{{dayOfBirth}}" name="day" class="my_info-date_of_birth-day">
                                            <option value="01">Ngày 01</option>
                                            <option value="02">Ngày 02</option>
                                            <option value="03">Ngày 03</option>
                                            <option value="04">Ngày 04</option>
                                            <option value="05">Ngày 05</option>
                                            <option value="06">Ngày 06</option>
                                            <option value="07">Ngày 07</option>
                                            <option value="08">Ngày 08</option>
                                            <option value="09">Ngày 09</option>
                                            <option value="10">Ngày 10</option>
                                            <option value="11">Ngày 11</option>
                                            <option value="12">Ngày 12</option>
                                            <option value="13">Ngày 13</option>
                                            <option value="14">Ngày 14</option>
                                            <option value="15">Ngày 15</option>
                                            <option value="16">Ngày 16</option>
                                            <option value="17">Ngày 17</option>
                                            <option value="18">Ngày 18</option>
                                            <option value="19">Ngày 19</option>
                                            <option value="20">Ngày 20</option>
                                            <option value="21">Ngày 21</option>
                                            <option value="22">Ngày 22</option>
                                            <option value="23">Ngày 23</option>
                                            <option value="24">Ngày 24</option>
                                            <option value="25">Ngày 25</option>
                                            <option value="26">Ngày 26</option>
                                            <option value="27">Ngày 27</option>
                                            <option value="28">Ngày 28</option>
                                            <option value="29">Ngày 29</option>
                                            <option value="30">Ngày 30</option>
                                            <option value="31">Ngày 31</option>
                                        </select>
                                    </div>
                                    <div class="my_info-date_of_birth-item">
                                        <select data="{{monthOfBirth}}" class="my_info-date_of_birth-month" name="month"
                                            id="">
                                            <option value="01">Tháng 01</option>
                                            <option value="02">Tháng 02</option>
                                            <option value="03">Tháng 03</option>
                                            <option value="04">Tháng 04</option>
                                            <option value="05">Tháng 05</option>
                                            <option value="06">Tháng 06</option>
                                            <option value="07">Tháng 07</option>
                                            <option value="08">Tháng 08</option>
                                            <option value="09">Tháng 09</option>
                                            <option value="10">Tháng 10</option>
                                            <option value="11">Tháng 11</option>
                                            <option value="12">Tháng 12</option>
                                        </select>
                                    </div>
                                    <div class="my_info-date_of_birth-item">
                                        <input class="my_info-date_of_birth-year" name="year"
                                            type="text" value="{{yearOfBirth}}" maxlength="4">
                                    </div>
                                </div>
                                <div class="my_info-item-warning date_warning">
                                    <span>Vui lòng chọn ngày hợp lệ</span>
                                </div>
                                <button class="store_profile_btn" type="button">Lưu</button>
                            </div>
                            <div class="line_thin"></div>
                            <div class="info_control-item-content-my_avatar">
                                {{#if avatar_base64}}
                                <div  class="info_control-item-content-my_avatar-wrapper">
                                    <input class="avatar_profile" name="avatar_profile" type="file" accept=".jpg, .png, .jpeg">
                                </div>
                                    {{else}}
                                    <div class="info_control-item-content-my_avatar-wrapper">
                                        <input class="avatar_profile" name="avatar_profile" type="file" accept=".jpg, .png, .jpeg">
                                    </div>
                                {{/if}}
                                <button type="button">Chọn ảnh</button>
                            </div>
                        </form>
                        {{/if}}
                    </div>
                </div>
            </div>
            <!-- ========================================= address ========================================= -->
                <div class="info_control-address">
                    <div class="info_control-address-title">
                        <h3>Địa chỉ của tôi</h3>
                        <div class="info_control-address-title-add_address">
                            <i class="fas fa-plus"></i>
                            <p>Thêm Địa Chỉ Mới</p>
                        </div>
                    </div>
                    <div class="info_control-address-content">
                        <div class="separation_line"></div>
                        <div class="info_control-address-content-item">
                            <div class="address-content-item-detail">
                                <div class="address-content-item-detail-info">
                                    <span>Họ và tên</span>
                                    <p>Hoàng Ngọc Thắng</p>
                                    <div class="default_address">Mặc định</div>
                                </div>
                                <div class="address-content-item-detail-info">
                                    <span>Số Điện Thoại</span>
                                    <p>(+84) 946599502</p>
                                </div>
                                <div class="address-content-item-detail-info">
                                    <span>Địa chỉ</span>
                                    <p>Tổ dân phố số 1 Lương Xá, Lộc Hòa </p>
                                </div>
                            </div>
                            <div class="address-content-item-option">
                                <div class="address-content-item-option-edit">
                                    <span class="address-content-item-option-edit-modify">Sửa</span>
                                    <span class="address-content-item-option-edit-delete">Xóa</span>
                                </div>
                                <div class="address-content-item-option-set_default">Thiết lập mặc định</div>
                            </div>
                        </div>
                        <div class="separation_line"></div>
                        <div class="info_control-address-content-item">
                            <div class="address-content-item-detail">
                                <div class="address-content-item-detail-info">
                                    <span>Họ và tên</span>
                                    <p>Hoàng Ngọc Thắng</p>
                                    <div class="default_address">Mặc định</div>
                                </div>
                                <div class="address-content-item-detail-info">
                                    <span>Số Điện Thoại</span>
                                    <p>(+84) 946599502</p>
                                </div>
                                <div class="address-content-item-detail-info">
                                    <span>Địa chỉ</span>
                                    <p>14 ngõ 159 Phùng Khoang Nam Từ Liêm </p>
                                </div>
                            </div>
                            <div class="address-content-item-option">
                                <div class="address-content-item-option-edit">
                                    <span class="address-content-item-option-edit-modify">Sửa</span>
                                    <span class="address-content-item-option-edit-delete">Xóa</span>
                                </div>
                                <div class="address-content-item-option-set_default">Thiết lập mặc định</div>
                            </div>
                        </div>
                        
                    </div>
                </div>
        </div>
    </div>
    <div id="footer-account">
        <div class="footer_wrap container">
            <div class="footer-element">
                <div class="footer-element-customer_care">
                    <h4>CHĂM SÓC KHÁCH HÀNG</h4>
                    <ul>
                        <li>Trung tâm trợ giúp</li>
                        <li>NT Blog</li>
                        <li>NT Mail</li>
                        <li>Hướng Dẫn Mua Hàng</li>
                        <li>Hướng Dẫn Bán Hàng</li>
                        <li>Thanh Toán</li>
                        <li>NT coin</li>
                        <li>Vận Chuyển</li>
                        <li>Trả Hàng & Hoàn Tiền</li>
                    </ul>
                </div>
            </div>
            <div class="footer-element">
                <div class="footer-element-about_us">
                    <h4>VỀ NT shop</h4>
                    <ul>
                        <li>Giới Thiệu Về NT shop</li>
                        <li>Tuyển dụng</li>
                        <li>Điều khoản</li>
                        <li>Chính Sách Bảo Mật</li>
                        <li>Chính Hãng</li>
                        <li>Kênh Người Bán</li>
                        <li>Flash Sales</li>
                        <li>Liên Hệ Với Truyền Thông</li>
                    </ul>
                </div>
            </div>
            <div class="footer-element">
                <div class="footer-element-payment">
                    <h4>THANH TOÁN</h4>
                    <ul>
                        <li>
                            <img src="https://einvoice.vn/FileUpload/ArticleMaterials/images/thanh-toan-dien-tu-4.jpg"
                                alt="">
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer-element">
                <div class="footer-element-follow_us">
                    <h4>THEO DÕI CHÚNG TÔI TRÊN</h4>
                    <ul>
                        <li><i class="fab fa-facebook"></i>Facebook</li>
                        <li><i class="fab fa-instagram"></i> Instagram</li>
                    </ul>
                </div>
            </div>
            <div class="footer-element">
                <div class="footer-element-download_my_app">
                    <h4>TẢI ỨNG DỤNG NT shop NGAY THÔI</h4>
                    <a href="#">
                        <img src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg//assets/d91264e165ed6facc6178994d5afae79.png"
                            alt="" class="footer-element-download_my_app-qrcode">
                        <div class="footer-element-download_my_app-apps">
                            <img src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg//assets/39f189e19764dab688d3850742f13718.png"
                                alt="">
                            <img src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg//assets/f4f5426ce757aea491dce94201560583.png"
                                alt="">
                            <img src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg//assets/1ae215920a31f2fc75b00d4ee9ae8551.png"
                                alt="">
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal store_successfully hidden">
    <div class="modal-overlay"></div>
    <div class="modal-body">
        <div class="modal-body-updated_profile">
            <img style="width: 40px; height: 40px;" src="https://image.flaticon.com/icons/png/512/716/716225.png"
                alt="">
            <h4>Cập nhật thành công</h4>
        </div>
    </div>
</div>

<div class="modal create_new_address ">
    <div class="modal-overlay"></div>
    <div class="modal-body-address">
        <form class="modal-body-address-wrapper">
            <h4>Địa chỉ mới</h4>
            <div class="modal-body-address-item modal-body-address-name">
                <label for="modal-body-address-item-name">Họ và tên</label>
                <input name="address-name" class = "modal-body-address-item-name" id="modal-body-address-item-name" type="text" maxlength="40" required>
                <i class="fa-solid fa-circle-xmark"></i>
            </div>
            <div class="modal-body-address-item modal-body-address-phone">
                <label for="modal-body-address-item-number_phone">Số điện thoại</label>
                <input name="address-phone_number" class="modal-body-address-item-number_phone" id="modal-body-address-item-number_phone" type="text" required maxlength="11">
                <i class="fa-solid fa-circle-xmark"></i>
            </div>
            <div class="modal-body-address-item modal-body-address-location">
                <input class="modal-body-address-item-location" required maxlength="100" type="text" name="location" placeholder="Tỉnh/ Thành Phố, Quận/ Huyện">
                <i class="fas fa-caret-down"></i>
                <span class="modal-body-address-delete-location">X</span>
                <div class="modal-body-address-city_district hidden">
                    <div class="modal-body-address-city_district-title">
                        <span class="modal-body-address-city_district-title-city">Tỉnh/ Thành Phố</span>
                        <span class="modal-body-address-city_district-title-district">Quận/ Huyện</span>
                    </div>
                    <div class="red_line"></div>
                    <div class="modal-body-address-city_district-list">
                        <ul class="list_city"></ul>
                        <ul class="list_district"></ul>
                    </div>
                </div>
            </div>
            <div class="modal-body-address-item modal-body-address-location modal-body-address-location-detail">
                <input type="text" name="locaiton-detail" maxlength="100" placeholder="Địa chỉ cụ thể">
            </div>
            <div class="modal-body-address-wrapper-btn">
                <button type="button" class="back_btn">Trở lại</button>
                <button type="button" class="comfirm_btn">Xác nhận</button>
            </div>
        </form>
    </div>
</div>

<script>
    const $ = document.querySelector.bind(document);
    const $$ = document.querySelectorAll.bind(document);

    let formUpdate = $('.info_control-item-content');
    let daySelect = $('.my_info-date_of_birth-day');
    let monthSelect = $('.my_info-date_of_birth-month');
    let yearInput = $('.my_info-date_of_birth-year');
    let storebtn = $('.store_profile_btn');
    let dateWarning = $('.date_warning');
    let nameInput = $('.wraper-input-name input');
    let nameWarning = $('.my_info-item-warning');
    let emailInput = $('.wraper-input-email input');
    let wraperInputs = $$('.wraper-input');
    let modalOverlay = $('.store_successfully .modal-overlay');
    let selects = document.getElementsByTagName('select');
    let avatar = $('.avatar_profile');
    let backgroundAvatar = $('.info_control-item-content-my_avatar-wrapper');
    let avatarImgs = $$('.avatar-item');
    let base64String = "";
    const reader = new FileReader();
    let changeNumberBtn = $('.change-number');
    
    changeNumberBtn.onclick = function() {
        changeNumberBtn.style.display = 'none';
        $('#number-phone').style.display = 'none';
        $('.my_info-number_phone-input').style.display = 'block';
        $('.cancel').style.display = 'block';
    }
    $('.cancel').onclick = function() {
        $('.cancel').style.display = 'none';
        $('.my_info-number_phone-input').value = '';
        $('.my_info-number_phone-input').style.display = 'none';
        changeNumberBtn.style.display = 'block';
        $('#number-phone').style.display = 'block';
    }

    let dataAvatar = $('.navbar_control-user img');
    backgroundAvatar.style.backgroundImage = 'url(' + dataAvatar.src + ')';
    for(let k = 0; k < selects.length; k++){
        let data = selects[k].getAttribute('data');
        selects[k].value = data.toString();
    }

    formUpdate.onsubmit = function (e) {
        e.preventDefault();
    }

    function updateAvatar() {
        if(base64String.length > 0){
            for(let j = 0; j < avatarImgs.length; j++) {    // thay đổi avatar từ ảnh vừa chọn
                let element = avatarImgs[j];
                element.src = "data:image/jpeg;base64," + base64String;
            }
        }
    }
    // cập nhật dữ liệu về server
    let url = '/user/updateProfile';
    var data;
    function updateProfile(url, data) {
        var option = {
            method: "POST",
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        };
        fetch(url, option)
            .then(function (response) {
                return response.json();
            })
            .catch(() => {
                console.log('da xay ra loi');
            })
    }

    // --------------------------------------------- khi ấn nút lưu ---------------------------------------------------------
    storebtn.onclick = function () {
        data = {
                username: $('.wraper-input-name input').value,
                email: $('.wraper-input-email input').value,
                gender: $('.gender').value,
                day: $('.my_info-date_of_birth-day').value,
                month: $('.my_info-date_of_birth-month').value,
                year: $('.my_info-date_of_birth-year').value,
                phoneNumber: $('.my_info-number_phone-input').value,
                avatar_base64: {
                    data: base64String,
                    contentType: 'image/png'
                }
            }
        var promise = Promise.resolve();
        promise
            .then(() => {
                updateProfile(url,data);
                return new Promise((resolve, reject) =>{
                    setTimeout(resolve,800);
                })
            })
            .then(() => {
                setTimeout(function () {
                    $('.store_successfully').style.display = 'flex';
                }, 100);
            })
            .then(() => {
                setTimeout(function () {
                    $('.store_successfully').style.display = 'none';
                }, 2000);
            })
            .then(() => {
                if($('.my_info-number_phone-input').value.length > 0){
                    $('.cancel').style.display = 'none';
                    $('.my_info-number_phone-input').style.display= 'none';
                    $('#number-phone').innerHTML = $('.my_info-number_phone-input').value;
                    $('#number-phone').style.display = 'block';
                    $('.change-number').style.display = 'block';
                    $('.my_info-number_phone-input').value = '';
                }
            })
            .then(() => {
                updateAvatar();
            })
            .catch(() => { console.log('co loi') });
    }
    modalOverlay.onclick = function () {
        $('.store_successfully').style.display = 'none';
    }

    function handleBlurInput(input) {
        input.style.border = '1px solid #ccc';
    }
    function handleFocusInput(input) {
        input.style.border = '1px solid #000';
    }

    function handleErrName() {
        nameWarning.style.display = 'block';
        $('.wraper-input-name').classList.add('warning_input');
        storebtn.disabled = true;
        storebtn.classList.add('disabled');
    }
    function handleCorrectName() {
        nameWarning.style.display = 'none';
        $('.wraper-input-name').classList.remove('warning_input');
        storebtn.disabled = false;
        storebtn.classList.remove('disabled');
    }

    // -----------------------------  khi focus vào thẻ input -------------------------------------------------------
    emailInput.onfocus = function () {
        handleFocusInput(wraperInputs[1]);
    }
    emailInput.onblur = function () {
        handleBlurInput(wraperInputs[1]);
    }
    nameInput.onfocus = function () {
        handleFocusInput(wraperInputs[0]);
    }
    nameInput.onblur = function (e) {
        handleBlurInput(wraperInputs[0]);
        if (nameInput.value.length < 3) {
            handleErrName();
        }
    }
    nameInput.oninput = function () {
        if (nameInput.value.length < 3) {
            handleErrName();
        }
        else {
            setTimeout(() => {
                handleCorrectName();
            }, 200)
        }
    }

    function handleErrDate() {
        storebtn.disabled = true;
        storebtn.classList.add('disabled');
        dateWarning.style.display = 'block';
    }
    function namNhuan(a) {
        b = Number(`${a}`);
        if (b % 4 == 0 || b % 400 == 0) return 1;
        return 0;
    }
    function checkDate() {
        let arr = ['04', '06', '09', '08', '11'];
        let a = arr.some((element) => {
            return (element == monthSelect.value);
        })
        if (daySelect.value == '31' && a == true) handleErrDate();
        else if (daySelect.value == '29' && namNhuan(yearInput.value) == 0 && monthSelect.value == '02') handleErrDate();
        else if (daySelect.value > '29' && monthSelect.value == '02') handleErrDate();
        else {
            storebtn.disabled = false;
            storebtn.classList.remove('disabled');
            dateWarning.style.display = 'none';
        }
    }
    daySelect.onchange = function () {
        checkDate();
    }
    monthSelect.onchange = function () {
        checkDate();
    }
    yearInput.onkeypress = function () {
        checkDate();
        if (yearInput.value.length < 3) handleErrDate();
    }
    yearInput.onblur = function () {
        if (yearInput.value.length == 0) handleErrDate();
    }

    // =========================================================== xử lý hình ảnh =======================================

    avatar.addEventListener("change", (event) => {
        const files = event.target.files;
        reader.readAsDataURL(files[0]);
        reader.addEventListener("load", (event) => {
            base64String = reader.result.replace("data:", "").replace(/^.+,/, "");
            {{!-- console.log(base64String);    // lấy dạng base64 của hình ảnh vừa chọn --}}

            const binary = event.target.result;
            var img = binary.slice(binary.lastIndexOf(',') + 1);

            // hàm tạo url cho thuộc tính src của ảnh
            const b64toBlob = (img, contentType = '', sliceSize = 512) => {
                const byteCharacters = atob(img);   // giải mã chuỗi mã hóa base64
                const byteArrays = [];

                for (let offset = 0; offset < byteCharacters.length; offset += sliceSize) {
                    const slice = byteCharacters.slice(offset, offset + sliceSize);

                    const byteNumbers = new Array(slice.length);
                    for (let i = 0; i < slice.length; i++) {
                        byteNumbers[i] = slice.charCodeAt(i); // lấy mã Unicode 
                    }

                    const byteArray = new Uint8Array(byteNumbers); // tạo mảng kiểu 8bit
                    byteArrays.push(byteArray);
                }

                const blob = new Blob(byteArrays, { type: contentType });
                return blob;
            }
            const blob = b64toBlob(img, 'image/jpeg');
            const blobUrl = URL.createObjectURL(blob);  // tạo url mới
            backgroundAvatar.style.background = `url(${blobUrl}) no-repeat center / cover`;
        })
    })
</script>

<!-- ========================================================== select city and district =================================== -->
<script>
    var c = ["An Giang", "Bà Rịa - Vũng Tàu", "Bạc Liêu", "Bắc Kạn", "Bắc Giang", "Bắc Ninh", "Bến Tre", "Bình Dương", "Bình Định", "Bình Phước", "Bình Thuận", "Cà Mau", "Cao Bằng", "Cần Thơ", "Đà Nẵng", "Đắk Lắk", "Đắk Nông", "Đồng Nai", "Đồng Tháp", "Điện Biên", "Gia Lai", "Hà Giang", "Hà Nam", "Hà Nội", "Hà Tĩnh", "Hải Dương", "Hải Phòng", "Hòa Bình", "Hậu Giang", "Hưng Yên", "Thành phố Hồ Chí Minh", "Khánh Hòa", "Kiên Giang", "Kon Tum", "Lai Châu", "Lào Cai", "Lạng Sơn", "Lâm Đồng", "Long An", "Nam Định", "Nghệ An", "Ninh Bình", "Ninh Thuận", "Phú Thọ", "Phú Yên", "Quảng Bình", "Quảng Nam", "Quảng Ngãi", "Quảng Ninh", "Quảng Trị", "Sóc Trăng", "Sơn La", "Tây Ninh", "Thái Bình", "Thái Nguyên", "Thanh Hóa", "Thừa Thiên - Huế", "Tiền Giang", "Trà Vinh", "Tuyên Quang", "Vĩnh Long", "Vĩnh Phúc", "Yên Bái"], c1 = ["Thành phố Long Xuyên", "Thành phố Châu Đốc", "Thị xã Tân Châu", "Huyện An Phú", "Huyện Châu Phú", "Huyện Châu Thành", "Huyện Chợ Mới", "Huyện Phú Tân", "Huyện Thoại Sơn", "Huyện Tịnh Biên", "Huyện Tri Tôn"], c2 = ["Thành phố Vũng Tàu", "Thị xã Bà Rịa", "Thị xã Phú Mỹ", "Huyện Châu Đức", "Huyện Côn Đảo", "Huyện Đất Đỏ", "Huyện Long Điền", "Huyện Tân Thành", "Huyện Xuyên Mộc"], c3 = ["Thành phố Bạc Liêu", "Huyện Đông Hải", "Huyện Giá Rai", "Huyện Hòa Bình", "Huyện Hồng Dân", "Huyện Phước Long", "Huyện Vĩnh Lợi"], c4 = ["Thị xã Bắc Kạn", "Huyện Ba Bể", "Huyện Bạch Thông", "Huyện Chợ Đồn", "Huyện Chợ Mới", "Huyện Na Rì", "Huyện Ngân Sơn", "Huyện Pác Nặm"], c5 = ["Thành phố Bắc Giang", "Huyện Hiệp Hòa", "Huyện Lạng Giang", "Huyện Lục Nam", "Huyện Lục Ngạn", "Huyện Sơn Động", "Huyện Tân Yên", "Huyện Việt Yên", "Huyện Yên Dũng", "Huyện Yên Thế"], c6 = ["Thành phố Bắc Ninh", "Thị xã Từ Sơn", "Huyện Gia Bình", "Huyện Lương Tài", "Huyện Quế Võ", "Huyện Thuận Thành", "Huyện Tiên Du", "Huyện Yên Phong"], c7 = ["Thành phố Bến Tre", "Huyện Ba Tri", "Huyện Bình Đại", "Huyện Châu Thành", "Huyện Chợ Lách", "Huyện Giồng Trôm", "Huyện Mỏ Cày Bắc", "Huyện Mỏ Cày Nam", "Huyện Thạnh Phú"], c8 = ["Thành phố Thủ Dầu Một", "Thị xã Bến Cát", "Thị xã Tân Uyên", "Huyện Bắc Tân Uyên", "Huyện Dầu Tiếng", "Huyện Dĩ An", "Huyện Phú Giáo", "Huyện Tân Uyên", "Huyện Thuận An"], c9 = ["Thành phố Quy Nhơn", "Huyện An Lão", "Huyện An Nhơn", "Huyện Hoài Ân", "Huyện Hoài Nhơn", "Huyện Phù Cát", "Huyện Phù Mỹ", "Huyện Tây Sơn", "Huyện Tuy Phước", "Huyện Vân Canh", "Huyện Vĩnh Thạnh"], c10 = ["Thị xã Bình Long", "Thị xã Đồng Xoài", "Thị xã Phước Long", "Huyện Bù Đăng", "Huyện Bù Đốp", "Huyện Bù Gia Mập", "Huyện Chơn Thành", "Huyện Đồng Phú", "Huyện Hớn Quản", "Huyện Lộc Ninh", "Huyện Phú Riềng"], c11 = ["Thành phố Phan Thiết", "Thị xã La Gi", "Huyện Bắc Bình", "Huyện Đảo Phú Quý", "Huyện Đức Linh", "Huyện Hàm Tân", "Huyện Hàm Thuận Bắc", "Huyện Hàm Thuận Nam", "Huyện Tánh Linh", "Huyện Tuy Phong"], c12 = ["Thành phố Cà Mau", "Huyện Cái Nước", "Huyện Đầm Dơi", "Huyện Năm Căn", "Huyện Ngọc Hiển", "Huyện Phú Tân", "Huyện Thới Bình", "Huyện Trần Văn Thời", "Huyện U Minh", "Huyện Tuy Phong"], c13 = ["Thị xã Cao Bằng", "Huyện Bảo Lạc", "Huyện Bảo Lâm", "Huyện Hạ Lang", "Huyện Hà Quảng", "Huyện Hòa An", "Huyện Nguyên Bình", "Huyện Phục Hòa", "Huyện Quảng Uyên", "Huyện Thạch An", "Huyện Thông Nông", "Huyện Trà Lĩnh", "Huyện Trùng Khánh"], c14 = ["Quận Bình Thủy", "Quận Cái Răng", "Quận Ninh Kiều", "Quận Ô Môn", "Quận Thốt Nốt", "Huyện Thới Lai", "Huyện Cờ Đỏ", "Huyện Phong Điền", "Huyện Vĩnh Thạnh"], c15 = ["Quận Cẩm Lệ", "Quận Hải Châu", "Quận Liên Chiểu", "Quận Ngũ Hành Sơn", "Quận Sơn Trà", "Quận Thanh Khê", "Huyện Hòa Vang", "Huyện Hoàng Sa"], c16 = ["Thành phố Buôn Ma Thuột", "Thị xã Buôn Hồ", "Huyện Buôn Đôn", "Huyện Cư Kuin", "Huyện Cư M'gar", "Huyện Ea H'Leo", "Huyện Ea Kar", "Huyện Ea Súp", "Huyện Krông Ana", "Huyện Krông Bông", "Huyện Krông Buk", "Huyện Krông Năng", "Huyện Krông Pắc", "Huyện Lăk", "Huyện M'Đrăk"], c17 = ["Thị xã Gia Nghĩa", "Huyện Cư Jút", "Huyện Dăk GLong", "Huyện Dăk Mil", "Huyện Dăk R'Lấp", "Huyện Dăk Song", "Huyện Krông Nô", "Huyện Tuy Đức"], c18 = ["Thành phố Biên Hòa", "Thị xã Long Khánh", "Quận Tân Phú", "Huyện Cẩm Mỹ", "Huyện Định Quán", "Huyện Long Thành", "Huyện Nhơn Trạch", "Huyện Thống Nhất", "Huyện Trảng Bom", "Huyện Vĩnh Cửu", "Huyện Xuân Lộc"], c19 = ["Thành phố Cao Lãnh", "Thị xã Sa Đéc", "Thị xã Hồng Ngự", "Huyện Châu Thành", "Huyện Cao Lãnh", "Huyện Huyện Hồng Ngự", "Huyện Lai Vung", "Huyện Lấp Vò", "Huyện Tam Nông", "Huyện Tân Hồng", "Huyện Thanh Bình", "Huyện Tháp Mười"], c20 = ["Thành phố Điện Biên Phủ", "Thị xã Mường Lay", "Huyện Điện Biên", "Huyện Điện Biên Đông", "Huyện Mường Ảng", "Huyện Mường Chà", "Huyện Mường Nhé", "Huyện Nậm Pồ", "Huyện Tủa Chùa", "Huyện Tuần Giáo"], c21 = ["Thành Phố Pleiku", "Thị xã An Khê", "Thị xã AYun Pa", "Huyện Chư Păh", "Huyện Chư Pưh", "Huyện Chư Sê", "Huyện ChưPRông", "Huyện Đăk Đoa", "Huyện Đăk Pơ", "Huyện Đức Cơ", "Huyện Ia Grai", "Huyện Ia Pa", "Huyện KBang", "Huyện Kông Chro", "Huyện Krông Pa", "Huyện Mang Yang", "Huyện Phú Thiện"], c22 = ["Thành phố Hà Giang", "Huyện Bắc Mê", "Huyện Bắc Quang", "Huyện Đồng Văn", "Huyện Hoàng Su Phì", "Huyện Mèo Vạc", "Huyện Quản Bạ", "Huyện Quang Bình", "Huyện Vị Xuyên", "Huyện Xín Mần", "Huyện Yên Minh"], c23 = ["Thành phố Phủ Lý", "Huyện Bình Lục", "Huyện Duy Tiên", "Huyện Kim Bảng", "Huyện Lý Nhân", "Huyện Thanh Liêm"], c24 = ["Quận Ba Đình", "Huyện Ba Vì", "Quận Bắc Từ Liêm", "Quận Cầu Giấy", "Huyện Chương Mỹ", "Huyện Đan Phượng", "Huyện Đông Anh", "Quận Đống Đa", "Huyện Gia Lâm", "Quận Hà Đông", "Quận Hai Bà Trưng", "Huyện Hoài Đức", "Quận Hoàn Kiếm", "Quận Hoàng Mai", "Quận Long Biên", "Huyện Mê Linh", "Huyện Mỹ Đức", "Quận Nam Từ Liêm", "Huyện Phú Xuyên", "Huyện Phúc Thọ", "Huyện Quốc Oai", "Huyện Sóc Sơn", "Thị xã Sơn Tây", "Quận Tây Hồ", "Huyện Thạch Thất", "Huyện Thanh Oai", "Huyện Thanh Trì", "Quận Thanh Xuân", "Huyện Thường Tín", "Huyện Ứng Hòa"], c25 = ["Thành phố Hà Tĩnh", "Thị xã Hồng Lĩnh", "Thị xã Kỳ Anh", "Huyện Cẩm Xuyên", "Huyện Can Lộc", "Huyện Đức Thọ", "Huyện Hương Khê", "Huyện Hương Sơn", "Huyện Lộc Hà", "Huyện Nghi Xuân", "Huyện Thạch Hà", "Huyện Vũ Quang"], c26 = ["Thành phố Hải Dương", "Thị xã Chí Linh", "Huyện Bình Giang", "Huyện Cẩm Giàng", "Huyện Gia Lộc", "Huyện Kim Thành", "Huyện Kinh Môn", "Huyện Nam Sách", "Huyện Ninh Giang", "Huyện Thanh Hà", "Huyện Thanh Miện", "Huyện Tứ Kỳ"], c27 = ["Quận Đồ Sơn", "Quận Dương Kinh", "Quận Hải An", "Quận Hồng Bàng", "Quận Kiến An", "Quận Lê Chân", "Quận Ngô Quyền", "Huyện An Dương", "Huyện An Lão", "Huyện Bạch Long Vĩ", "Huyện Cát Hải", "Huyện Kiến Thụy", "Huyện Thủy Nguyên", "Huyện Tiên Lãng", "Huyện Vĩnh Bảo"], c28 = ["Thành phố Hòa Bình", "Huyện Cao Phong", "Huyện Đà Bắc", "Huyện Kim Bôi", "Huyện Kỳ Sơn", "Huyện Lạc Sơn", "Huyện Lạc Thủy", "Huyện Lương Sơn", "Huyện Mai Châu", "Huyện Tân Lạc", "Huyện Yên Thủy"], c29 = ["Thành phố Vị Thanh", "Thị xã Ngã Bảy", "Huyện Châu Thành", "Huyện Châu Thành A", "Huyện Long Mỹ", "Huyện Phụng Hiệp", "Huyện Vị Thủy"], c30 = ["Thành phố Hưng Yên", "Huyện Ân Thi", "Huyện Khoái Châu", "Huyện Kim Động", "Huyện Mỹ Hào", "Huyện Phù Cừ", "Huyện Tiên Lữ", "Huyện Văn Giang", "Huyện Văn Lâm", "Huyện Yên Mỹ"], c31 = ["Quận 1", "Quận 2", "Quận 3", "Quận 4", "Quận 5", "Quận 6", "Quận 7", "Quận 8", "Quận 9", "Quận 10", "Quận 11", "Quận 12", "Quận Bình Tân", "Quận Bình Thạnh", "Quận Gò Vấp", "Quận Phú Nhuận", "Quận Tân Bình", "Quận Tân Phú", "Quận Thủ Đức", "Huyện Bình Chánh", "Huyện Cần Giờ", "Huyện Củ Chi", "Huyện Hóc Môn", "Huyện Nhà Bè"], c32 = ["Thành phố Nha Trang", "Thị xã Cam Ranh", "Thị xã Ninh Hòa", "Huyện Cam Lâm", "Huyện Diên Khánh", "Huyện Khánh Sơn", "Huyện Khánh Vĩnh", "Huyện Trường Sa", "Huyện Vạn Ninh"], c33 = ["Thành phố Rạch Giá", "Thị xã Hà Tiên", "Huyện An Biên", "Huyện An Minh", "Huyện Châu Thành", "Huyện Giang Thành", "Huyện Giồng Riềng", "Huyện Gò Quao", "Huyện Hòn Đất", "Huyện Kiên Hải", "Huyện Kiên Lương", "Huyện Phú Quốc", "Huyện Tân Hiệp", "Huyện U minh Thượng", "Huyện Vĩnh Thuận"], c34 = ["Thành phố KonTum", "Huyện Đăk Glei", "Huyện Đăk Hà", "Huyện Đăk Tô", "Huyện Kon Plông", "Huyện Kon Rẫy", "Huyện Ngọc Hồi", "Huyện Sa Thầy", "Huyện Tu Mơ Rông", "Huyện Ia H' Drai"], c35 = ["Thị xã Lai Châu", "Huyện Mường Tè", "Huyện Nậm Nhùn", "Huyện Phong Thổ", "Huyện Sìn Hồ", "Huyện Tam Đường", "Huyện Tân Uyên", "Huyện Than Uyên"], c36 = ["Thành phố Lào Cai", "Huyện Bắc Hà", "Huyện Bảo Thắng", "Huyện Bảo Yên", "Huyện Bát Xát", "Huyện Mường Khương", "Huyện Sa Pa", "Huyện Văn Bàn", "Huyện Xi Ma Cai"], c37 = ["Thành phố Lạng Sơn", "Huyện Bắc Sơn", "Huyện Bình Gia", "Huyện Cao Lộc", "Huyện Chi Lăng", "Huyện Đình Lập", "Huyện Hữu Lũng", "Huyện Lộc Bình", "Huyện Tràng Định", "Huyện Văn Lãng", "Huyện Văn Quan"], c38 = ["Thành phố Bảo Lộc", "Thành phố Đà Lạt", "Huyện Bảo Lâm", "Huyện Cát Tiên", "Huyện Đạ Huoai", "Huyện Đạ Tẻh", "Huyện Đam Rông", "Huyện Di Linh", "Huyện Đơn Dương", "Huyện Đức Trọng", "Huyện Lạc Dương", "Huyện Lâm Hà"], c39 = ["Thành phố Tân An", "Thị xã Kiến Tường", "Huyện Bến Lức", "Huyện Cần Đước", "Huyện Cần Giuộc", "Huyện Châu Thành", "Huyện Đức Hòa", "Huyện Đức Huệ", "Huyện Mộc Hóa", "Huyện Tân Hưng", "Huyện Tân Thạnh", "Huyện Tân Trụ", "Huyện Thạnh Hóa", "Huyện Thủ Thừa", "Huyện Vĩnh Hưng"], c40 = ["Thành phố Nam Định", "Huyện Giao Thủy", "Huyện Hải Hậu", "Huyện Mỹ Lộc", "Huyện Nam Trực", "Huyện Nghĩa Hưng", "Huyện Trực Ninh", "Huyện Vụ Bản", "Huyện Xuân Trường", "Huyện Ý Yên"], c41 = ["Thành phố Vinh", "Thị xã Cửa Lò", "Thị xã Hoàng Mai", "Thị xã Thái Hòa", "Huyện Anh Sơn", "Huyện Con Cuông", "Huyện Diễn Châu", "Huyện Đô Lương", "Huyện Hưng Nguyên", "Huyện Kỳ Sơn", "Huyện Nam Đàn", "Huyện Nghi Lộc", "Huyện Nghĩa Đàn", "Huyện Quế Phong", "Huyện Quỳ Châu", "Huyện Quỳ Hợp", "Huyện Quỳnh Lưu", "Huyện Tân Kỳ", "Huyện Thanh Chương", "Huyện Tương Dương", "Huyện Yên Thành"], c42 = ["Thành phố Ninh Bình", "Thị xã Tam Điệp", "Huyện Gia Viễn", "Huyện Hoa Lư", "Huyện Kim Sơn", "Huyện Nho Quan", "Huyện Yên Khánh", "Huyện Yên Mô"], c43 = ["Thành phố Phan Rang - Tháp Chàm", "Huyện Bác Ái", "Huyện Ninh Hải", "Huyện Ninh Phước", "Huyện Ninh Sơn", "Huyện Thuận Bắc", "Huyện Thuận Nam"], c44 = ["Thành phố Việt Trì", "Thị xã Phú Thọ", "Huyện Cẩm Khê", "Huyện Đoan Hùng", "Huyện Hạ Hòa", "Huyện Lâm Thao", "Huyện Phù Ninh", "Huyện Tam Nông", "Huyện Tân Sơn", "Huyện Thanh Ba", "Huyện Thanh Sơn", "Huyện Thanh Thủy", "Huyện Yên Lập"], c45 = ["Thành phố Tuy Hòa", "Thị xã Sông Cầu", "Huyện Đông Hòa", "Huyện Đồng Xuân", "Huyện Phú Hòa", "Huyện Sơn Hòa", "Huyện Sông Hinh", "Huyện Tây Hòa", "Huyện Tuy An"], c46 = ["Thành phố Đồng Hới", "Thị xã Ba Đồn", "Huyện Bố Trạch", "Huyện Lệ Thủy", "Huyện Minh Hóa", "Huyện Quảng Ninh", "Huyện Quảng Trạch", "Huyện Tuyên Hóa"], c47 = ["Thành phố Hội An", "Thành phố Tam Kỳ", "Huyện Bắc Trà My", "Huyện Đại Lộc", "Huyện Điện Bàn", "Huyện Đông Giang", "Huyện Duy Xuyên", "Huyện Hiệp Đức", "Huyện Nam Giang", "Huyện Nam Trà My", "Huyện Nông Sơn", "Huyện Núi Thành", "Huyện Phú Ninh", "Huyện Phước Sơn", "Huyện Quế Sơn", "Huyện Tây Giang", "Huyện Thăng Bình", "Huyện Tiên Phước"], c48 = ["Thành phố Quảng Ngãi", "Huyện Ba Tơ", "Huyện Bình Sơn", "Huyện Đức Phổ", "Huyện Lý Sơn", "Huyện Minh Long", "Huyện Mộ Đức", "Huyện Nghĩa Hành", "Huyện Sơn Hà", "Huyện Sơn Tây", "Huyện Sơn Tịnh", "Huyện Tây Trà", "Huyện Trà Bồng", "Huyện Tư Nghĩa"], c49 = ["Thành phố Hạ Long", "Thành phố Móng Cái", "Thị xã Cẩm Phả", "Thị xã Uông Bí", "Huyện Ba Chẽ", "Huyện Bình Liêu", "Huyện Cô Tô", "Huyện Đầm Hà", "Huyện Đông Triều", "Huyện Hải Hà", "Huyện Hoành Bồ", "Huyện Quảng Yên", "Huyện Tiên Yên", "Huyện Vân Đồn"], c50 = ["Thành phố Đông Hà", "Thị xã Quảng Trị", "Huyện Cam Lộ", "Huyện Cồn Cỏ", "Huyện Đăk Rông", "Huyện Đảo Cồn Cỏ", "Huyện Gio Linh", "Huyện Hải Lăng", "Huyện Hướng Hóa", "Huyện Triệu Phong", "Huyện Vĩnh Linh"], c51 = ["Thành phố Sóc Trăng", "Huyện Châu Thành", "Huyện Cù Lao Dung", "Huyện Kế Sách", "Huyện Long Phú", "Huyện Mỹ Tú", "Huyện Mỹ Xuyên", "Huyện Ngã Năm", "Huyện Thạnh Trị", "Huyện Trần Đề", "Huyện Vĩnh Châu"], c52 = ["Thành phố Sơn La", "Huyện Bắc Yên", "Huyện Mai Sơn", "Huyện Mộc Châu", "Huyện Mường La", "Huyện Phù Yên", "Huyện Quỳnh Nhai", "Huyện Sông Mã", "Huyện Sốp Cộp", "Huyện Thuận Châu", "Huyện Vân Hồ", "Huyện Yên Châu"], c53 = ["Thành phố Tây Ninh", "Huyện Bến Cầu", "Huyện Châu Thành", "Huyện Dương Minh Châu", "Huyện Gò Dầu", "Huyện Hòa Thành", "Huyện Tân Biên", "Huyện Tân Châu", "Huyện Trảng Bàng"], c54 = ["Thành phố Thái Bình", "Huyện Đông Hưng", "Huyện Hưng Hà", "Huyện Kiến Xương", "Huyện Quỳnh Phụ", "Huyện Thái Thuỵ", "Huyện Tiền Hải", "Huyện Vũ Thư"], c55 = ["Thành phố Thái Nguyên", "Thị xã Sông Công", "Huyện Đại Từ", "Huyện Định Hóa", "Huyện Đồng Hỷ", "Huyện Phổ Yên", "Huyện Phú Bình", "Huyện Phú Lương", "Huyện Võ Nhai"], c56 = ["Thành phố Thanh Hóa", "Thị xã Bỉm Sơn", "Thị xã Sầm Sơn", "Huyện Bá Thước", "Huyện Cẩm Thủy", "Huyện Đông Sơn", "Huyện Hà Trung", "Huyện Hậu Lộc", "Huyện Hoằng Hóa", "Huyện Lang Chánh", "Huyện Mường Lát", "Huyện Nga Sơn", "Huyện Ngọc Lặc", "Huyện Như Thanh", "Huyện Như Xuân", "Huyện Nông Cống", "Huyện Quan Hóa", "Huyện Quan Sơn", "Huyện Quảng Xương", "Huyện Thạch Thành", "Huyện Thiệu Hóa", "Huyện Thọ Xuân", "Huyện Thường Xuân", "Huyện Tĩnh Gia", "Huyện Triệu Sơn", "Huyện Vĩnh Lộc", "Huyện Yên Định"], c57 = ["Thành phố Huế", "Thị xã Hương Thủy", "Huyện A Lưới", "Huyện Nam Đông", "Huyện Phong Điền", "Huyện Phú Lộc", "Huyện Phú Vang", "Huyện Quảng Điền"], c58 = ["Thành phố Mỹ Tho", "Thị xã Gò Công", "Thị xã Cai Lậy", "Huyện Cái Bè", "Huyện Châu Thành", "Huyện Chợ Gạo", "Huyện Gò Công Đông", "Huyện Gò Công Tây", "Huyện Tân Phú Đông", "Huyện Tân Phước"], c59 = ["Thành phố Trà Vinh", "Huyện Càng Long", "Huyện Cầu Kè", "Huyện Cầu Ngang", "Huyện Châu Thành", "Huyện Duyên Hải", "Huyện Tiểu Cần", "Huyện Trà Cú"], c60 = ["Thành phố Tuyên Quang", "Huyện Chiêm Hóa", "Huyện Hàm Yên", "Huyện Lâm Bình", "Huyện Na Hang", "Huyện Sơn Dương", "Huyện Yên Sơn"], c61 = ["Thành phố Vĩnh Long", "Quận Bình Tân", "Huyện Bình Minh", "Huyện Long Hồ", "Huyện Mang Thít", "Huyện Tam Bình", "Huyện Trà Ôn", "Huyện Vũng Liêm"], c62 = ["Thành phố Vĩnh Yên", "Thị xã Phúc Yên", "Huyện Bình Xuyên", "Huyện Lập Thạch", "Huyện Sông Lô", "Huyện Tam Đảo", "Huyện Tam Dương", "Huyện Vĩnh Tường", "Huyện Yên Lạc"], c63 = ["Thành phố Yên Bái", "Thị xã Nghĩa Lộ", "Huyện Lục Yên", "Huyện Mù Cang Chải", "Huyện Trạm Tấu", "Huyện Trấn Yên", "Huyện Văn Chấn", "Huyện Văn Yên", "Huyện Yên Bình"], arr = [c1, c2, c3, c4, c5, c6, c7, c8, c9, c10, c11, c12, c13, c14, c15, c16, c17, c18, c19, c20, c21, c22, c23, c24, c25, c26, c27, c28, c29, c30, c31, c32, c33, c34, c35, c36, c37, c38, c39, c40, c41, c42, c43, c44, c45, c46, c47, c48, c49, c50, c51, c52, c53, c54, c55, c56, c57, c58, c59, c60, c61, c62, c63];
    
    let listCity = $('.modal-body-address-city_district-list .list_city');
    let listDistrict = $('.modal-body-address-city_district-list .list_district');
    let addressInput = $('.modal-body-address-item-location');
    function renderCity(listCity,c){   // hiện thị các tỉnh thành phố
        c.forEach( (element) => {
            listCity.innerHTML += `<li>${element}</li>`;
        })
        addressInput.value = '';
    }
    renderCity(listCity,c);

    let cities = $$('.modal-body-address-city_district-list .list_city li');
    function renderDistricts(Districts){
        Districts.forEach((item) => {
            listDistrict.innerHTML += `<li>${item}</li>`;
        })
    }
    function selectedDistrict(){    // hiển thị các quận huyện tương ứng vs thành phố đã chọn
        let districts = $$('.modal-body-address-city_district-list .list_district li');
        districts.forEach((element,index) => {
            element.onclick = function () {
                let index = addressInput.value.indexOf(",")+2;
                addressInput.value = addressInput.value.slice(0,index) ;
                addressInput.value += element.innerText;
                $('.modal-body-address-city_district').classList.add('hidden');
            }
        })
    }
    function deleteAllDistricts(){      // xóa ds các quận huyện
        let districts = $$('.modal-body-address-city_district-list .list_district li');
        districts.forEach((element) => {
            element.remove();
        })
    }
    function selectedCity(cities) {     // sau khi chọn thành phố sẽ hiển thị quận huyện tương ứng với thành phố
        cities.forEach((element,index) => {
            element.onclick = function () {
                deleteAllDistricts();
                addressInput.value = element.innerText + ', ';
                let Districts = arr[index];
                listCity.style.display = 'none';
                moveRedLine();
                var promise = Promise.resolve();
                promise
                    .then(() => {
                        renderDistricts(Districts);
                        listDistrict.style.display = 'block';
                    })
                    .then(() => {
                        selectedDistrict();
                    })
                    .catch(err => {
                        console.log(err);
                    })
            }
        
        })
    }
    selectedCity(cities);

    $('.modal-body-address-delete-location').onclick = function () { // khi ấn dấu X để xóa value input
        addressInput.value = '' ;
        listDistrict.style.display = 'none';
        listCity.style.display = 'block';
        $('.red_line').classList.remove('red_line-move');
    }

    let selectCityInput = $('.modal-body-address-item-location');
    selectCityInput.onclick = function () {      // khi ấn vào ô input chọn tp thì hiển thị list city
        $('.modal-body-address-city_district').classList.remove('hidden');
        blur = 1;
    }
    function moveRedLine(){
        $('.red_line').classList.add('red_line-move');
    }

    $('.modal-body-address-city_district-title-city').onclick = function () {   // click vào ô tỉnh thành sẽ có đg kẻ đỏ bên dưới
        $('.red_line').classList.remove('red_line-move');
        listCity.style.display = 'block';
    }
    var blur = 1;
    $('.modal-body-address-wrapper').onclick = function() {     // khi ấn vào bất kỳ chỗ khác ngoài ds tỉnh thành thì nó sẽ ẩn
        if(blur == 0)  $('.modal-body-address-city_district').classList.add('hidden');
        else blur = 0;
    }
    $('.modal-body-address-city_district').addEventListener('click',function(){
        blur = 1;
    })

    // khi ấn vào icon x sẽ xóa tên hoặc sdt
    $('.modal-body-address-name i').onclick = function(){
        $('.modal-body-address-item-name').value = '';
    }
    $('.modal-body-address-phone i').onclick = function(){
        $('.modal-body-address-item-number_phone').value = '';
    }

</script>

<script>
    let activeItems = $$('.active-item p');
    for(let i = 1; i < activeItems.length; i++){
        let element = activeItems[i];
        element.onclick = function() {
            this.classList.add('active');
            for(let j = 1; j < activeItems.length; j++){
                if(j != i){
                    activeItems[j].classList.remove('active');
                }
            }
        }
    }
    activeItems[0].onclick = function() {
        activeItems[1].classList.add('active');
        for(let j = 2; j < activeItems.length; j++){
            activeItems[j].classList.remove('active');
        }
    }



</script>
