<div class="main-account">
    <div id="header">
        <div class="navbar">
            <div class="link_user">
                <a href="#" class="my_shop">Shop của tôi</a>
                <a href="#" class="create_shop">Mở shop trên web</a>
                <div class="download_app_on_mobile">
                    <p style="padding:0; margin:0">Tải ứng dụng</p>
                    <div class="qrcode_app">
                        <img style="width:180px; height:180px;"
                            src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg//assets/d91264e165ed6facc6178994d5afae79.png"
                            alt="">
                        <div class="some_app">
                            <img style="width:70px; height:16px"
                                src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg//assets/39f189e19764dab688d3850742f13718.png"
                                alt="">
                            <img style="width:70px; height:16px"
                                src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg//assets/f4f5426ce757aea491dce94201560583.png"
                                alt="">
                            <img style="width:70px; height:16px"
                                src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg//assets/1ae215920a31f2fc75b00d4ee9ae8551.png"
                                alt="">
                        </div>
                    </div>
                </div>
                <div class="link_to_social">
                    Kết nối
                    <a href="#">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
            </div>
            <div class="header-section">
                <div class="header-notification header-section-item">
                    <p>
                        <i class="far fa-bell"></i>
                        Thông báo
                    </p>
                    <div class="header-notification-show">
                        <img src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg//assets/99e561e3944805a023e87a81d4869600.png"
                            alt="">
                        <h3>Đăng nhập để xem thông báo</h3>
                        <div class="header-notification-show-btn_login">
                            <a href="#">Đăng ký</a>
                            <a href="#">Đăng nhập</a>
                        </div>
                    </div>
                </div>
                <div class="header-support header-section-item">
                    <i class="far fa-question-circle"></i>
                    Hỗ trợ
                </div>
                <div class="header-account header-section-item">
                    <div class="myAccount">
                        {{#if avatar_base64}}
                        <img class="avatar" src= "data:image/jpeg;base64,{{avatar_base64}}" alt="avatar">
                            {{else}}
                            <img class="avatar" src="{{avatar}}" alt="avatar">
                        {{/if}}
                        <a href="#" class="username">Thắng Hoàng</a>
                        <div class="myAccount-show">
                            <a href="/">Trang chủ</a>
                            <a href="/logout">Đăng xuất</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="container header-search">
            <a href="/">
                <img style="width: 160px; height: 50px;" class="logo_web"
                    src="https://anhdep.tv/attachments/ac1afeb3909de0315b221710d037f01c-jpeg.5868/" alt="">
            </a>
            <div class="header-search_bar">
                <input type="text" placeholder="Search ..." maxlength="50">
                <a href="#"><i class="fas fa-search"></i></a>
            </div>
            <div class="header-cart">
                <a href="#"><i class="fas fa-shopping-cart"></i></a>
                <ul style="margin: 0;padding: 0;" class="header-cart-list_product">
                    <img src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/9bdd8040b334d31946f49e36beaf32db.png"
                        alt="">
                    <h3>Chưa có sản phẩm nào</h3>
                </ul>
            </div>
        </div>
    </div>
    <div id="content-account">
        <div class="container">
            <div class="navbar_control">
                <div class="navbar_control-user">
                    {{#if avatar_base64}}
                    <img class="navbar_control-user-img" src="data:image/jpeg;base64,{{avatar_base64}}" alt="">
                        {{else}}
                        <img class="navbar_control-user-img" src="{{avatar}}" alt="">
                    {{/if}}
                    <p>{{username}}</p>
                </div>
                <div class="navbar_control-profile navbar_control-item">
                    <div class="navbar_control-profile-my_account">
                        <i class="far fa-user"></i>
                        <a href="#">Tài khoản của tôi</a>
                        <div class="navbar_control-profile-my_account-wrapper">
                            <a href="#">
                                <p class="profile_item active">Hồ sơ</p>
                            </a>
                            <a href="#">
                                <p class="profile_item">Địa chỉ</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="navbar_control-purchase_order navbar_control-item">
                    <i class="fas fa-file-invoice"></i>
                    <a href="#">Đơn mua</a>
                </div>
                <div class="navbar_control-notification navbar_control-item">
                    <i class="far fa-bell"></i>
                    <a href="#">Thông báo</a>
                </div>
                <div class="navbar_control-voucher navbar_control-item">
                    <i class="fas fa-tags"></i>
                    <a href="#">Kho Voucher</a>
                </div>
            </div>

            <div class="info_control">
                <div class="info_control-item">
                    <div class="info_control-item-wrap">
                        <h3 class="info_control-item-wrap-title">Hồ sơ của tôi</h3>
                        {{#if user}}
                        <form method="post" action="/user/updateProfile" class="info_control-item-content" enctype="multipart/form-data">
                            <div class="info_control-item-content-my_info">
                                <div class="my_info-name_account my_info-item">
                                    <label for="name-account">Tên đăng nhập</label>
                                    <p id="name-account">{{username}}</p>
                                </div>
                                <div class="my_info-name my_info-item">
                                    <label for="name">Tên</label>
                                    <div class="wraper-input wraper-input-name">
                                        <input name="username" type="text" value="{{username}}" size="20">
                                    </div>
                                </div>
                                <div class="my_info-item-warning name_warning">
                                    <span>Vui lòng nhập tên (Tối thiểu 3 ký tự)</span>
                                </div>
                                <div class="my_info-email my_info-item">
                                    <label for="email">Email</label>
                                    <div class="wraper-input wraper-input-email">
                                        <input type="email" placeholder="Nhập email" size="30" value="{{email}}">
                                    </div>
                                </div>
                                <div class="my_info-number_phone my_info-item">
                                    <label for="number-phone">Số điện thoại</label>
                                    <p name="number_phone" id="number-phone">{{phoneNumber}}</p>
                                </div>
                                <div class="my_info-gender my_info-item">
                                    <label for="gender">Giới tính</label>
                                    <select name="gender" id="gender" data="{{gender}}" class="gender">
                                        <option value="Nam">Nam</option>
                                        <option value="Nữ">Nữ</option>
                                        <option value="khác">Khác</option>
                                    </select>
                                </div>
                                <div class="my_info-date_of_birth my_info-item">
                                    <label for="date-of-birth">Ngày sinh</label>
                                    <div class="my_info-date_of_birth-item">
                                        <select data="{{dayOfBirth}}" name="day" class="my_info-date_of_birth-day">
                                            <option value="01">Ngày 01</option>
                                            <option value="02">Ngày 02</option>
                                            <option value="03">Ngày 03</option>
                                            <option value="04">Ngày 04</option>
                                            <option value="05">Ngày 05</option>
                                            <option value="06">Ngày 06</option>
                                            <option value="07">Ngày 07</option>
                                            <option value="08">Ngày 08</option>
                                            <option value="09">Ngày 09</option>
                                            <option value="10">Ngày 10</option>
                                            <option value="11">Ngày 11</option>
                                            <option value="12">Ngày 12</option>
                                            <option value="13">Ngày 13</option>
                                            <option value="14">Ngày 14</option>
                                            <option value="15">Ngày 15</option>
                                            <option value="16">Ngày 16</option>
                                            <option value="17">Ngày 17</option>
                                            <option value="18">Ngày 18</option>
                                            <option value="19">Ngày 19</option>
                                            <option value="20">Ngày 20</option>
                                            <option value="21">Ngày 21</option>
                                            <option value="22">Ngày 22</option>
                                            <option value="23">Ngày 23</option>
                                            <option value="24">Ngày 24</option>
                                            <option value="25">Ngày 25</option>
                                            <option value="26">Ngày 26</option>
                                            <option value="27">Ngày 27</option>
                                            <option value="28">Ngày 28</option>
                                            <option value="29">Ngày 29</option>
                                            <option value="30">Ngày 30</option>
                                            <option value="31">Ngày 31</option>
                                        </select>
                                    </div>
                                    <div class="my_info-date_of_birth-item">
                                        <select data="{{monthOfBirth}}" class="my_info-date_of_birth-month" name="month"
                                            id="">
                                            <option value="01">Tháng 01</option>
                                            <option value="02">Tháng 02</option>
                                            <option value="03">Tháng 03</option>
                                            <option value="04">Tháng 04</option>
                                            <option value="05">Tháng 05</option>
                                            <option value="06">Tháng 06</option>
                                            <option value="07">Tháng 07</option>
                                            <option value="08">Tháng 08</option>
                                            <option value="09">Tháng 09</option>
                                            <option value="10">Tháng 10</option>
                                            <option value="11">Tháng 11</option>
                                            <option value="12">Tháng 12</option>
                                        </select>
                                    </div>
                                    <div class="my_info-date_of_birth-item">
                                        <input class="my_info-date_of_birth-year" name="year"
                                            type="text" value="{{yearOfBirth}}" maxlength="4">
                                    </div>
                                </div>
                                <div class="my_info-item-warning date_warning">
                                    <span>Vui lòng chọn ngày hợp lệ</span>
                                </div>
                                <button class="store_profile_btn" type="button">Lưu</button>
                            </div>
                            <div class="line_thin"></div>
                            <div class="info_control-item-content-my_avatar">
                                <div class="info_control-item-content-my_avatar-wrapper">
                                    <input class="avatar_profile" name="avatar_profile" type="file"
                                        accept=".jpg, .png, .jpeg">
                                </div>
                                <button type="button">Chọn ảnh</button>
                            </div>
                        </form>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer-account">
        <div class="footer_wrap container">
            <div class="footer-element">
                <div class="footer-element-customer_care">
                    <h4>CHĂM SÓC KHÁCH HÀNG</h4>
                    <ul>
                        <li>Trung tâm trợ giúp</li>
                        <li>NT Blog</li>
                        <li>NT Mail</li>
                        <li>Hướng Dẫn Mua Hàng</li>
                        <li>Hướng Dẫn Bán Hàng</li>
                        <li>Thanh Toán</li>
                        <li>NT coin</li>
                        <li>Vận Chuyển</li>
                        <li>Trả Hàng & Hoàn Tiền</li>
                    </ul>
                </div>
            </div>
            <div class="footer-element">
                <div class="footer-element-about_us">
                    <h4>VỀ NT shop</h4>
                    <ul>
                        <li>Giới Thiệu Về NT shop</li>
                        <li>Tuyển dụng</li>
                        <li>Điều khoản</li>
                        <li>Chính Sách Bảo Mật</li>
                        <li>Chính Hãng</li>
                        <li>Kênh Người Bán</li>
                        <li>Flash Sales</li>
                        <li>Liên Hệ Với Truyền Thông</li>
                    </ul>
                </div>
            </div>
            <div class="footer-element">
                <div class="footer-element-payment">
                    <h4>THANH TOÁN</h4>
                    <ul>
                        <li>
                            <img src="https://einvoice.vn/FileUpload/ArticleMaterials/images/thanh-toan-dien-tu-4.jpg"
                                alt="">
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer-element">
                <div class="footer-element-follow_us">
                    <h4>THEO DÕI CHÚNG TÔI TRÊN</h4>
                    <ul>
                        <li><i class="fab fa-facebook"></i>Facebook</li>
                        <li><i class="fab fa-instagram"></i> Instagram</li>
                    </ul>
                </div>
            </div>
            <div class="footer-element">
                <div class="footer-element-download_my_app">
                    <h4>TẢI ỨNG DỤNG NT shop NGAY THÔI</h4>
                    <a href="#">
                        <img src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg//assets/d91264e165ed6facc6178994d5afae79.png"
                            alt="" class="footer-element-download_my_app-qrcode">
                        <div class="footer-element-download_my_app-apps">
                            <img src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg//assets/39f189e19764dab688d3850742f13718.png"
                                alt="">
                            <img src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg//assets/f4f5426ce757aea491dce94201560583.png"
                                alt="">
                            <img src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg//assets/1ae215920a31f2fc75b00d4ee9ae8551.png"
                                alt="">
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal">
    <div class="modal-overlay"></div>
    <div class="modal-body">
        <div class="modal-body-updated_profile">
            <img style="width: 40px; height: 40px;" src="https://image.flaticon.com/icons/png/512/716/716225.png"
                alt="">
            <h4>Cập nhật thành công</h4>
        </div>
    </div>
</div>

<script>
    const $ = document.querySelector.bind(document);
    const $$ = document.querySelectorAll.bind(document);

    let formUpdate = $('.info_control-item-content');
    let daySelect = $('.my_info-date_of_birth-day');
    let monthSelect = $('.my_info-date_of_birth-month');
    let yearInput = $('.my_info-date_of_birth-year');
    let storebtn = $('.store_profile_btn');
    let dateWarning = $('.date_warning');
    let nameInput = $('.wraper-input-name input');
    let nameWarning = $('.my_info-item-warning');
    let emailInput = $('.wraper-input-email input');
    let wraperInputs = $$('.wraper-input');
    let modalOverlay = $('.modal-overlay');

    let selects = document.getElementsByTagName('select');
    for(let k = 0; k < selects.length; k++){
        let data = selects[k].getAttribute('data');
        selects[k].value = data.toString();
    }

    formUpdate.onsubmit = function (e) {
        e.preventDefault();
    }
    let url = '/user/updateProfile';
    var data;
    function updateProfile(url, data) {
        var option = {
            method: "POST",
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        };
        fetch(url, option)
            .then(function (response) {
                return response.json();
            })
            .catch(() => {
                console.log('da xay ra loi');
            })
    }

    storebtn.onclick = function () {
        data = {
            username: $('.wraper-input-name input').value,
            email: $('.wraper-input-email input').value,
            gender: $('.gender').value,
            day: $('.my_info-date_of_birth-day').value,
            month: $('.my_info-date_of_birth-month').value,
            year: $('.my_info-date_of_birth-year').value,
            avatar_base64: {
                data: base64String,
                contentType: 'image/png'
            }
        }
        var promise = Promise.resolve();
        promise
            .then(() => {
                updateProfile(url,data);
                return new Promise((resolve, reject) =>{
                    setTimeout(resolve,100);
                })
            })
            .then(() => {
                setTimeout(function () {
                    $('.modal').style.display = 'flex';
                }, 100)
            })
            .then(() => {
                setTimeout(function () {
                    $('.modal').style.display = 'none';
                }, 2000)
            })
            .catch(() => { console.log('co loi') });
    }
    modalOverlay.onclick = function () {
        $('.modal').style.display = 'none';
    }

    function handleBlurInput(input) {
        input.style.border = '1px solid #ccc';
    }
    function handleFocusInput(input) {
        input.style.border = '1px solid #000';
    }

    function handleErrName() {
        nameWarning.style.display = 'block';
        $('.wraper-input-name').classList.add('warning_input');
        storebtn.disabled = true;
        storebtn.classList.add('disabled');
    }
    function handleCorrectName() {
        nameWarning.style.display = 'none';
        $('.wraper-input-name').classList.remove('warning_input');
        storebtn.disabled = false;
        storebtn.classList.remove('disabled');
    }

    // -----------------------------  khi focus vào thẻ input
    emailInput.onfocus = function () {
        handleFocusInput(wraperInputs[1]);
    }
    emailInput.onblur = function () {
        handleBlurInput(wraperInputs[1]);
    }
    nameInput.onfocus = function () {
        handleFocusInput(wraperInputs[0]);
    }
    nameInput.onblur = function (e) {
        handleBlurInput(wraperInputs[0]);
        if (nameInput.value.length < 3) {
            handleErrName();
        }
    }
    nameInput.oninput = function () {
        if (nameInput.value.length < 3) {
            handleErrName();
        }
        else {
            setTimeout(() => {
                handleCorrectName();
            }, 200)
        }
    }

    function handleErrDate() {
        storebtn.disabled = true;
        storebtn.classList.add('disabled');
        dateWarning.style.display = 'block';
    }
    function namNhuan(a) {
        b = Number(`${a}`);
        if (b % 4 == 0 || b % 400 == 0) return 1;
        return 0;
    }
    function checkDate() {
        let arr = ['04', '06', '09', '08', '11'];
        let a = arr.some((element) => {
            return (element == monthSelect.value);
        })
        if (daySelect.value == '31' && a == true) handleErrDate();
        else if (daySelect.value == '29' && namNhuan(yearInput.value) == 0 && monthSelect.value == '02') handleErrDate();
        else if (daySelect.value > '29' && monthSelect.value == '02') handleErrDate();
        else {
            storebtn.disabled = false;
            storebtn.classList.remove('disabled');
            dateWarning.style.display = 'none';
        }
    }
    daySelect.onchange = function () {
        checkDate();
    }
    monthSelect.onchange = function () {
        checkDate();
    }
    yearInput.onkeypress = function () {
        checkDate();
        if (yearInput.value.length < 3) handleErrDate();
    }
    yearInput.onblur = function () {
        if (yearInput.value.length == 0) handleErrDate();
    }

    // =========================================================== xử lý hình ảnh =======================================
    let avatar = $('.avatar_profile');
    const reader = new FileReader();
    const backgroundAvatar = $('.info_control-item-content-my_avatar-wrapper');
    let base64String = "";

    avatar.addEventListener("change", (event) => {
        const files = event.target.files;
        reader.readAsDataURL(files[0]);
        reader.addEventListener("load", (event) => {
            base64String = reader.result.replace("data:", "").replace(/^.+,/, "");
            {{!-- console.log(base64String); --}}
            const binary = event.target.result;
            var img = binary.slice(binary.lastIndexOf(',') + 1);

            // hàm tạo url cho thuộc tính src của ảnh
            const b64toBlob = (img, contentType = '', sliceSize = 512) => {
                const byteCharacters = atob(img);   // giải mã chuỗi mã hóa base64
                const byteArrays = [];

                for (let offset = 0; offset < byteCharacters.length; offset += sliceSize) {
                    const slice = byteCharacters.slice(offset, offset + sliceSize);

                    const byteNumbers = new Array(slice.length);
                    for (let i = 0; i < slice.length; i++) {
                        byteNumbers[i] = slice.charCodeAt(i); // lấy mã Unicode 
                    }

                    const byteArray = new Uint8Array(byteNumbers); // tạo mảng kiểu 8bit
                    byteArrays.push(byteArray);
                }

                const blob = new Blob(byteArrays, { type: contentType });
                return blob;
            }
            const blob = b64toBlob(img, 'image/jpeg');
            const blobUrl = URL.createObjectURL(blob);  // tạo url mới
            backgroundAvatar.style.background = `url(${blobUrl}) no-repeat center / cover`;
        })
    })
</script>