<div id="main">
    <div id="header" class="header_product_detail">
        <div class="navbar">
            <div class="link_user">
                <a href="/" class="my_shop">Trang chủ</a>
                {{#if seller}}
                    <a href="/shop" class="create_shop">Shop của tôi</a>
                {{else}}
                    <a href="/user/seller/signup/view" class="create_shop">Trở thành người bán</a>
                {{/if}}
                <div class="download_app_on_mobile">
                    <p style="padding:0; margin:0">Tải ứng dụng</p>
                    <div class="qrcode_app">
                        <img style="width:180px; height:180px;"
                            src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg//assets/d91264e165ed6facc6178994d5afae79.png"
                            alt="">
                        <div class="some_app">
                            <img style="width:70px; height:16px"
                                src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg//assets/39f189e19764dab688d3850742f13718.png"
                                alt="">
                            <img style="width:70px; height:16px"
                                src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg//assets/f4f5426ce757aea491dce94201560583.png"
                                alt="">
                            <img style="width:70px; height:16px"
                                src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg//assets/1ae215920a31f2fc75b00d4ee9ae8551.png"
                                alt="">
                        </div>
                    </div>
                </div>
                <div class="link_to_social">
                    Kết nối
                    <a href="#">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
            </div>
            <div class="header-section">
                <div class="header-notification header-section-item">
                    <p>
                        <i class="far fa-bell"></i>
                        Thông báo
                    </p>
                    <div class="header-notification-show">
                        {{#if user}}
                            <h4>Chưa có thông báo mới</h4>
                            {{else}}
                            <img src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg//assets/99e561e3944805a023e87a81d4869600.png"
                                alt="">
                            <h3>Đăng nhập để xem thông báo</h3>
                            <div class="header-notification-show-btn_login">
                                <a href="#">Đăng ký</a>
                                <a href="#">Đăng nhập</a>
                            </div>
                        {{/if}}
                    </div>
                </div>
                <div class="header-support header-section-item">
                    <i class="far fa-question-circle"></i>
                    Hỗ trợ
                </div>
                <div class="header-account header-section-item">
                    {{#if user}}
                    <div class="myAccount">
                        {{#if avatar_base64}}
                            <img class="avatar" src= "data:image/jpeg;base64,{{avatar_base64}}" alt="avatar">
                        {{else}}
                            <img class="avatar" src="{{user.avatar}}" alt="avatar">
                        {{/if}}
                        {{#if user}}
                            <a href="#" class="username">{{user.username}}</a>
                        {{else}}
                            <a href="#" class="username">Thắng Hoàng</a>
                        {{/if}}
                        <div class="myAccount-show">
                            <a href="/user/myAccount">Tài khoản của tôi</a>
                            <a href="/logout">Đăng xuất</a>
                        </div>
                    </div>
                    {{else}}
                        <a class="account_signup" href="#">Đăng ký</a>
                        <a class="account_login" href="#">Đăng nhập</a>
                    {{/if}}
                </div>
            </div>

        </div>
        <div class="container header-search">
            <a href="/">
                <img style="width: 160px; height: 50px;" class="logo_web"
                    src="https://anhdep.tv/attachments/ac1afeb3909de0315b221710d037f01c-jpeg.5868/" alt="">
            </a>
            <div class="header-search_bar">
                <input type="text" placeholder="Search ..." maxlength="50">
                <a href="#"><i class="fas fa-search"></i></a>
            </div>
            <div class="header-cart">
                <a href="/user/cart"><i class="fas fa-shopping-cart"></i>
                    {{#if amount}}
                    <div class="header-cart-number_display">{{amount}}</div>
                    {{/if}}
                </a>
                <div style="margin: 0;padding: 0;" class="header-cart-list_product">
                    {{#if user}}
                        {{#if amount}}
                            <ul class="header-cart-list_product-ul">
                                {{#each products}}
                                <li class="header-cart-list_product-item">
                                    <img src="{{this.avatar}}" alt="">
                                    <p>{{this.introduction}}</p>
                                    <span>{{this.priceAfterDiscount}}đ</span>
                                </li>
                                {{/each}}
                            </ul>
                            <a class="view_cart_product_btn" href="/user/cart">Xem giỏ hàng</a>
                        {{else}}
                            <div class="header-cart-list_product-wrapper">
                                <img src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/9bdd8040b334d31946f49e36beaf32db.png"
                                    alt="">
                                <h3>Chưa có sản phẩm nào</h3>
                            </div>
                        {{/if}}
                    {{else}}
                    <div class="header-cart-list_product-wrapper">
                        <img src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/assets/9bdd8040b334d31946f49e36beaf32db.png"
                            alt="">
                        <h3>Bạn chưa đăng nhập</h3>
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>

    <div id="content_product_detail">
        <div class="product-introduction">
            <div class="product-introduction-illustration">
                <img data-id="{{productId}}" class="product-introduction-illustration-main_img"
                    src="{{avatar}}" alt="">
                <div class="product-introduction-illustration-change_img_arrow">
                    <i class="fa-solid fa-angle-left"></i>
                    <i class="fa-solid fa-angle-right"></i>
                </div>
                <div class="product-introduction-illustration-some_img">
                    <div class="product-introduction-illustration-some_img-wrapper">
                        
                        {{#each imgs}}
                        <img class="product-introduction-illustration-some_img-item"
                            src="{{this}}" alt="">
                        {{/each}}
                    </div>
                </div>
                <div class="product-introduction-social">
                    <div class="product-introduction-social-share_product">
                        <p>Chia sẻ: </p>
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-facebook-messenger"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-instagram-square"></i>
                    </div>
                    <div class="separate_line"></div>
                    <div class="like_product">
                        <i class="fa-solid fa-heart like_product-heart_reaction"></i>
                        <p>Đã thích (<span>560</span>)</p>
                    </div>
                </div>
            </div>
            <div class="product-introduction-option">
                <div class="product-introduction-option-title">
                    <div class="product-introduction-option-title-name">
                        <h4>{{product.introduction}}</h4>
                    </div>
                    <div class="product-introduction-option-title-statistics">
                        <a href="#" class="product-introduction-option-title-statistics-rating_star">
                            <p>4.5</p>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star-half-stroke"></i>
                        </a>
                        <div class="separate_line"></div>
                        <a class="product-introduction-option-title-statistics-rating" href="#">
                            <p>845</p>
                            <span>Đánh giá</span>
                        </a>
                        <div class="separate_line"></div>
                        <div class="product-introduction-option-title-statistics-sold">
                            <p>2,1k</p>
                            <span>Đã bán</span>
                        </div>
                    </div>
                </div>
                <div class="product-introduction-option-price">
                    <span
                        class="product-introduction-option-price-item product-introduction-option-price-origin">{{product.originPrice}}đ</span>
                    <p class="product-introduction-option-price-item product-introduction-option-price-after_discount">
                        {{product.priceAfterDiscount}}đ</p>
                    <span class="product-introduction-option-price-item product-introduction-option-price-discount">Giảm
                        {{product.discount.amount}}{{product.discount.unit}} </span>
                </div>
                <div class="product-introduction-option-delivery product-introduction-option-item">
                    <span class="product-introduction-option-item-title">Vận chuyển</span>
                    <div class="product-introduction-option-delivery-content">
                        <div class="introduction-option-delivery-content-free_ship">
                            <i class="fa-solid fa-truck"></i>
                            <p>Miễn phí vận chuyển</p>
                        </div>
                        <div class="product-introduction-option-delivery-from">
                            <span>Vận chuyển từ</span>
                            <p>{{product.deliveryFrom}}</p>
                        </div>
                    </div>
                </div>
                <div class="product-introduction-option-select_color product-introduction-option-item">
                    <span class="product-introduction-option-item-title">Color</span>
                    <div class="product-introduction-option-select_color-content">
                        <button type="button" class="product-introduction-option-select_color-btn">
                            Xanh
                            <i class="fa-solid fa-check hidden"></i>
                        </button>
                        <button type="button" class="product-introduction-option-select_color-btn">
                            Đỏ
                            <i class="fa-solid fa-check hidden"></i>
                        </button>
                        <button type="button" class="product-introduction-option-select_color-btn">
                            Tím
                            <i class="fa-solid fa-check hidden"></i>
                        </button>
                    </div>
                </div>
                <div class="product-introduction-option-quantity product-introduction-option-item">
                    <span class="product-introduction-option-item-title">Số lượng</span>
                    <div class="choose_quantity_btn decrease_btn">
                        <i class="fa-solid fa-minus"></i>
                    </div>
                    <input class="product-introduction-option-quantity_choosen" value="1" type="text"
                        name="product-introduction-option-quantity_choosen" maxlength="2">
                    <div class="choose_quantity_btn increase_btn">
                        <i class="fa-solid fa-plus"></i>
                    </div>
                    <span class="product_available">
                        <p data="{{product.available}}">{{product.available}}</p> sản phẩm có sẵn
                    </span>
                </div>
                <div class="product-introduction-option-btn">
                    <div class="introduction-option-btn-add_to_cart">
                        <i class="fa-solid fa-cart-plus"></i>
                        {{#if added}}
                            <span>Đã thêm vào giỏ hàng</span>
                        {{else}}
                            <span>Thêm vào giỏ hàng</span>
                        {{/if}}
                    </div>
                    <a class="introduction-option-btn-buy_now" href="#">
                        <span>Mua ngay</span>
                    </a>
                </div>
                <div class="product-introduction-option-delivery_policy">
                    <div class="introduction-option-delivery_policy-item">
                        <img src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/pdp/6c502a2641457578b0d5f5153b53dd5d.png"
                            alt="">
                        <p>7 ngày miễn phí trả hàng</p>
                    </div>
                    <div class="introduction-option-delivery_policy-item">
                        <img src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/pdp/16ead7e0a68c3cff9f32910e4be08122.png"
                            alt="">
                        <p>Hàng chính hãng 100%</p>
                    </div>
                    <div class="introduction-option-delivery_policy-item">
                        <img src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg/pdp/511aca04cc3ba9234ab0e4fcf20768a2.png"
                            alt="">
                        <p>Miễn phí vận chuyển</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-detail">
            <div class="product-detail-title title_header">
                <h3>Chi tiết sản phẩm</h3>
            </div>
            <div class="product-detail-content">
                <div class="product-detail-content-features">
                    <div class="product-detail-content-features-item">
                        <span>Danh Mục</span>
                        <p>NTShop > {{product.category}}</p>
                    </div>
                    <div class="product-detail-content-features-item">
                        <span>Thương hiệu</span>
                        <p>{{product.brand}}</p>
                    </div>
                    <div class="product-detail-content-features-item">
                        <span>Loại bảo hành</span>
                        <p>Không bảo hành</p>
                    </div>
                    <div class="product-detail-content-features-item">
                        <span>Xuất xứ</span>
                        <p>{{product.madeIn}}</p>
                    </div>
                    <div class="product-detail-content-features-item">
                        <span>Gửi từ</span>
                        <p>{{product.deliveryFrom}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-description">
            <div class="product-description-title title_header">
                <h3>Mô tả sản phẩm</h3>
            </div>
            <div class="product-description-content">
                <p>
                    {{product.description}}
                </p>
            </div>
        </div>
        <div class="product-review">
            <div class="product-review-title title_header">
                <h3>Đánh giá sản phẩm</h3>
            </div>
            <div class="product-review-content">
                <div class="product-review-content-header">
                    <div class="product-review-content-header-star">
                        <div class="product-review-content-header-star-average">
                            <h2>4.5 </h2>
                            <span>trên 5</span>
                        </div>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half"></i>
                    </div>
                    <div class="product-review-content-header-summary">
                        <div class="product-review-content-header-summary-count_star">
                            <button class="product-review-content-header-star_btn all-star">Tất cả</button>
                            <button class="product-review-content-header-star_btn star-5">5 Sao (1,1k)</button>
                            <button class="product-review-content-header-star_btn star-4">4 Sao (900)</button>
                            <button class="product-review-content-header-star_btn star-3">3 Sao (500)</button>
                            <button class="product-review-content-header-star_btn star-2">2 Sao (200)</button>
                            <button class="product-review-content-header-star_btn star-2">1 Sao (50)</button>
                        </div>
                        <div class="product-review-content-header-summary-comment_imgs">
                            <span>bình luận (453)</span>
                            <span>hình ảnh (324)</span>
                        </div>
                    </div>
                </div>
                <div class="product-review-content-body">
                    <div class="product-review-content-comment-item">
                        <img class="product-review-comment-user-avatar"
                            src="http://www.elle.vn/wp-content/uploads/2017/07/25/hinh-anh-dep-1.jpg" alt="">
                        <div class="product-review-comment-user_comment">
                            <p class="product-review-comment-user-name">Thắng Hoàng</p>
                            <div class="product-review-comment-user-evaluate">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <p class="product-review-comment-content">Sản phẩm bên shop rất đẹp và chất lượng, mình rất hài lòng với sản phẩm này</p>
                            <div class="product-review-comment-user-illustration_imgs">
                                <img comment-index="0" src="http://www.elle.vn/wp-content/uploads/2017/07/25/hinh-anh-dep-1.jpg" alt="">
                                <img comment-index="0" src="https://cf.shopee.vn/file/6642d3b709a072131b19f2c68bfa86fd" alt="">
                            </div>
                            <img comment-index="0" class="product-review-comment-user-illustration_imgs-zoom hidden" src="" alt="" >
                        </div>
                    </div>
                    {{!-- <div class="separate_comment"></div> --}}
                    
                </div>
            </div>
        </div>
    </div>

    <div id="footer" class="footer_product_detail">
        <div class="footer_wrap container">
            <div class="footer-element">
                <div class="footer-element-customer_care">
                    <h4>CHĂM SÓC KHÁCH HÀNG</h4>
                    <ul>
                        <li>Trung tâm trợ giúp</li>
                        <li>NT Blog</li>
                        <li>NT Mail</li>
                        <li>Hướng Dẫn Mua Hàng</li>
                        <li>Hướng Dẫn Bán Hàng</li>
                        <li>Thanh Toán</li>
                        <li>NT coin</li>
                        <li>Vận Chuyển</li>
                        <li>Trả Hàng & Hoàn Tiền</li>
                    </ul>
                </div>
            </div>
            <div class="footer-element">
                <div class="footer-element-about_us">
                    <h4>VỀ NT shop</h4>
                    <ul>
                        <li>Giới Thiệu Về NT shop</li>
                        <li>Tuyển dụng</li>
                        <li>Điều khoản</li>
                        <li>Chính Sách Bảo Mật</li>
                        <li>Chính Hãng</li>
                        <li>Kênh Người Bán</li>
                        <li>Flash Sales</li>
                        <li>Liên Hệ Với Truyền Thông</li>
                    </ul>
                </div>
            </div>
            <div class="footer-element">
                <div class="footer-element-payment">
                    <h4>THANH TOÁN</h4>
                    <ul>
                        <li>
                            <img src="https://einvoice.vn/FileUpload/ArticleMaterials/images/thanh-toan-dien-tu-4.jpg"
                                alt="">
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer-element">
                <div class="footer-element-follow_us">
                    <h4>THEO DÕI CHÚNG TÔI TRÊN</h4>
                    <ul>
                        <li><i class="fab fa-facebook"></i>Facebook</li>
                        <li><i class="fab fa-instagram"></i> Instagram</li>
                    </ul>
                </div>
            </div>
            <div class="footer-element">
                <div class="footer-element-download_my_app">
                    <h4>TẢI ỨNG DỤNG NT shop NGAY THÔI</h4>
                    <a href="#">
                        <img src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg//assets/d91264e165ed6facc6178994d5afae79.png"
                            alt="" class="footer-element-download_my_app-qrcode">
                        <div class="footer-element-download_my_app-apps">
                            <img src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg//assets/39f189e19764dab688d3850742f13718.png"
                                alt="">
                            <img src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg//assets/f4f5426ce757aea491dce94201560583.png"
                                alt="">
                            <img src="https://deo.shopeemobile.com/shopee/shopee-pcmall-live-sg//assets/1ae215920a31f2fc75b00d4ee9ae8551.png"
                                alt="">
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <a href="#" class="move_top">
            <i class="fa-solid fa-arrow-up"></i>
        </a>
    </div>

</div>

<script>
    "use strict"
    const $ = document.querySelector.bind(document);
    const $$ = document.querySelectorAll.bind(document);

    // ----------------------------------------------------- Chọn loại sản phẩm -------------------------------------------
    let selectColorBtn = $$('.product-introduction-option-select_color-btn');
    function removeSelectBtn(k) {
        selectColorBtn.forEach(function (element, index) {
            if (index != k) {
                element.classList.remove('select_color');
            }
        })
        $$('.product-introduction-option-select_color-btn i').forEach(function (element, index) {
            if (index != k) {
                element.classList.add('hidden');
            }
        })
    }
    selectColorBtn.forEach(function (element, index) {
        element.onclick = function (e) {
            removeSelectBtn(index);
            element.classList.toggle('select_color');
            $$('.product-introduction-option-select_color-btn i')[index].classList.toggle('hidden');
            if (element.classList.contains('select_color')) {
                if (index == 0) {
                    $('.product_available p').innerText = '800';
                }
                else if (index == 1) {
                    $('.product_available p').innerText = '300';
                }
                else if (index == 2) {
                    $('.product_available p').innerText = '400';
                }
            }
            else {
                $('.product_available p').innerText = $('.product_available p').getAttribute('data');
            }
        }
    })

    // -------------------------------------------------- chọn số lượng sp --------------------------------------------------

    let quantityProduct = $('.product-introduction-option-quantity_choosen');

    $('.increase_btn').onclick = function () {
        quantityProduct.value = (Number(quantityProduct.value) + 1) + '';
    }
    $('.decrease_btn').onclick = function () {
        if (quantityProduct.value > 1) {
            quantityProduct.value = (Number(quantityProduct.value) - 1) + '';
        }
    }

    // ---------------------------------------------- khi bấm like sản phẩm -------------------------------------------
    $('.like_product').onclick = function () {
        $('.like_product-heart_reaction').classList.toggle('active_heart_product');
        let likeNumber = $('.like_product span');
        let sl = Number(likeNumber.innerText);
        if ($('.like_product-heart_reaction').classList.contains('active_heart_product')) {
            likeNumber.innerHTML = (sl + 1) + '';
        }
        else {
            likeNumber.innerHTML = (sl - 1) + '';
        }
    }

    //---------------------------------------------------------- list product image ------------------------------------------
    let productImgIndex = -1;
    let productImgList = $$('.product-introduction-illustration-some_img-item');
    $('.fa-angle-right').onclick = function () {
        console.log(productImgIndex);
        if (productImgIndex <= productImgList.length - 6) {
            productImgIndex += 1;
            productImgList[productImgIndex].classList.add('hidden');
        }
    }
    $('.fa-angle-left').onclick = function () {
            console.log(productImgIndex);
        if (productImgIndex >= 0) {
            productImgList[productImgIndex].classList.remove('hidden');
            productImgIndex -= 1;
        }
    }

    productImgList.forEach(function (element, index) {
        element.onmouseover = function () {
            let src = element.src;
            $('.product-introduction-illustration-main_img').src = src;
        }
    })

    let evaluateStar = $$('.product-review-content-header-star_btn');
    evaluateStar.forEach(function (element) {
        element.onclick = function () {
            evaluateStar.forEach(function (element) {
                element.classList.remove('evaluate_star');
            })
            element.classList.add('evaluate_star');
        }
    })

    // ------------------------------------------------- phóng to ảnh ở phần bình luận --------------------------------------
    let commentImgs = $$('.product-review-comment-user-illustration_imgs img');
    let zoomImg = $$('.product-review-comment-user-illustration_imgs-zoom');
    function zoomInImg(smallImg) {
        let zoomImgId = Number(smallImg.getAttribute('comment-index'));
        zoomImg[zoomImgId].src = smallImg.src;
        zoomImg[zoomImgId].classList.remove('hidden');
        zoomImg.forEach(function (item, index) {
            item.onclick = function () {
                item.classList.toggle('hidden');
                smallImg.classList.remove('select_comment_img');
            }
        })
    }
    function zoomOutImg(smallImg) {
        let zoomImgId = Number(smallImg.getAttribute('comment-index'));
        zoomImg[zoomImgId].src = '';
        zoomImg[zoomImgId].classList.add('hidden');
    }
    commentImgs.forEach(function (element, index) {
        let imgIndex = element.getAttribute('comment-index');
        element.onclick = function () {
            element.classList.toggle('select_comment_img');
            commentImgs.forEach(function (item, index2) {
                if (index2 != index && item.classList.contains('select_comment_img') && imgIndex == item.getAttribute('comment-index')) {
                    item.classList.remove('select_comment_img');
                }
            })
            if (this.classList.contains('select_comment_img')) {
                zoomInImg(element);
            }
            else zoomOutImg(element);
        }
    })

</script>

<!-- ====================================================== thêm sp vào giỏ hàng =================================================== -->
<script>
    let addProductToCart = $('.introduction-option-btn-add_to_cart');
    let cartProductNumber = $('.header-cart-number_display');
    let productId = $('.product-introduction-illustration-main_img').getAttribute('data-id');
    let buyNowBtn = $('.introduction-option-btn-buy_now');

    function addProduct(url,data){
        var option = {
            method: "POST",
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        };
        fetch(url, option)
            .then(function (response) {
                return response.json();
            })
            .catch(() => {
                console.log('da xay ra loi them san pham vao gio hang');
            })
    }

    addProductToCart.onclick = function () {
        if($('.myAccount')){
            if($('.introduction-option-btn-add_to_cart span').innerText == 'Thêm Vào Giỏ Hàng') {
                let data = {
                    productId: productId,
                }
                addProduct('/user/add-to-cart',data);
                console.log(productId);
                $('.introduction-option-btn-add_to_cart span').innerText = 'Đã Thêm Vào Giỏ Hàng';
                let li = document.createElement('li');
                li.className = 'header-cart-list_product-item';
                let anh = document.createElement('img');
                anh.src = $$('.product-introduction-illustration-some_img-item')[0].src;
                let p = document.createElement('p');
                let textNode = document.createTextNode(`${$('.product-introduction-option-title-name h4').innerText}`);
                p.appendChild(textNode);
                let span = document.createElement('span');
                let textNode2 = document.createTextNode(`${$('.product-introduction-option-price-after_discount').innerText}`);
                span.appendChild(textNode2);
                li.append(anh, p, span);

                if($('.header-cart-number_display')){
                    let amount = Number($('.header-cart-number_display').innerText) + 1 + '';
                    $('.header-cart-number_display').innerText = amount;
                    $('.header-cart-list_product-ul').prepend(li);
                }
                else {
                    let ul = document.createElement('ul');
                    ul.className = 'header-cart-list_product-ul';
                    ul.prepend(li);
                    let showBtn = document.createElement('a');
                    let textNode4 = document.createTextNode('Xem giỏ hàng');
                    showBtn.className = 'view_cart_product_btn';
                    showBtn.appendChild(textNode4);
                    $('.header-cart-list_product').removeChild($('.header-cart-list_product-wrapper'));
                    $('.header-cart-list_product').appendChild(ul);
                    $('.header-cart-list_product').appendChild(showBtn);
                    let amountProductCart = document.createElement('div');
                    amountProductCart.className = 'header-cart-number_display';
                    let textNode3 = document.createTextNode('1');
                    amountProductCart.appendChild(textNode3);
                    $('.header-cart a').appendChild(amountProductCart);
                }
                
            }

        }
        else {
            alert("Bạn chưa đăng nhập!");
        }
    }

    buyNowBtn.onclick = function(e){
        if($('.introduction-option-btn-add_to_cart span').innerText == 'Thêm Vào Giỏ Hàng') {
            let data = {productId: productId}
            addProduct('/user/add-to-cart',data);
            buyNowBtn.href = '/user/cart';
        }
        else {
            buyNowBtn.href = '/user/cart';
        }
    }

</script>


