<div class="separation_line"></div>
<div class="info_control-address-content-item">
    <div class="address-content-item-detail">
        <div class="address-content-item-detail-info">
            <span>Họ và tên</span>
            <p>{{this.receiverName}}</p>
            <div class="default_address">{{this.default}}</div>
        </div>
        <div class="address-content-item-detail-info">
            <span>Số Điện Thoại</span>
            <p>(+84) {{this.phoneNumber}}</p>
        </div>
        <div class="address-content-item-detail-info">
            <span>Địa chỉ</span>
            <div class="address-content-item-detail-info-wrapper">
                <p class="address_detail">{{this.detail}}</p>
                <p class="address_detail">{{this.district}}</p>
                <p class="address_detail">{{this.city}}</p>
            </div>
        </div>
    </div>
    <div class="address-content-item-option">
        <div class="address-content-item-option-edit">
            <span class="address-content-item-option-edit-modify">Sửa</span>
            <span class="address-content-item-option-edit-delete">Xóa</span>
        </div>
        <div class="address-content-item-option-set_default">Thiết lập mặc định</div>
    </div>
</div>